@model Capstone_SWP490.Models.post_ViewModel.post_ViewModel
@{ ViewBag.Title = "Post Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
<!-- Sidebar -->

<header>
    <style>
        #menu_Post {
            color: #ffffff !important;
            background: #30cf6b;
        }

        .ck-editor__editable {
            min-height: 250px;
        }
    </style>
</header>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Post Edit</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" id="under">
                <div class="col-lg-12">
                    @using (Html.BeginForm(Model.action, "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {<div class="row">
                            @Html.TextBoxFor(x => x.post.post_id, new { @class = "form-control", type = "hidden" })
                            <label style="color:red"> @ViewData["EDIT_ERROR"]</label>

                            <div class="col-lg-6" style="overflow:auto">
                                <div class="form-group">
                                    <label for="firstName">Schedule Date (For Schedule Only)<span id="not-empty">*</span></label><br />
                                    @Html.TextBoxFor(x => x.post.schedule_date, new { @class = "form-control", type = "datetime-local" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="overflow:auto">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="overflow:auto">
                                <div class="form-group">
                                    <label for="firstName">Title<span id="not-empty">*</span></label><br />
                                    @Html.TextBoxFor(x => x.post.title, new { @class = "form-control", required = true })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="overflow:auto">
                                <div class="form-group">
                                    <label for="firstName">Title Image<span id="not-empty">*</span></label><br />
                                    <input type="file" name="file" accept="image/*" onchange="loadFile(event)">
                                    <img id="preview" src="~/image/@(Model.post== null ?"default.png" : "/image/post/" +Model.post.title_image)" width="200" height="250" style="border: 1px solid gray" onclick="loadFile(event)" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="overflow:auto">
                                <div class="form-group">
                                    <label for="firstName">Short Description</label><br />
                                    @Html.TextAreaFor(x => x.post.short_description, new { @class = "form-control", @rows = 3 })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="overflow:auto">
                                <div class="form-group">
                                    <label for="firstName">Content<span id="not-empty">*</span></label><br />
                                    @Html.TextAreaFor(x => x.post.html_content, new { id = "editor", @rows = 4 })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6" style="overflow:auto">
                                <div class="form-group">
                                    <label for="firstName">Featured</label>
                                    @Html.CheckBoxFor(x => x.featured, true)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="overflow:auto">
                                <div class="form-group">
                                    <button class="btn btn-success">Post Now</button>
                                    <input type="submit" name="actionBtn" value="Schedule" class="btn btn-primary" />
                                    <button type="reset" onclick="window.location='@Url.Action("", "Post")';return false;" class="btn btn-warning">cancel</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model != null && Model.errors != null && Model.errors.Count > 0)
{

    <div class="col-lg-6">
        <!-- Modal -->
        <div class="modal fade" id="newModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
    $(document).ready(function () {
        $("#newModal").modal("show");
        $("#newModal").on('hide.bs.modal', function () {

        });
        $("#newModal").on('hidden.bs.modal', function () {

        });
    });
    var loadFile = function (event) {
        var output = document.getElementById('preview');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
