@model Capstone_SWP490.Models.post_ViewModel.postList_ViewModel
@{ ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}

<!-- Sidebar -->

<header>
    <style>
        #menu_Post {
            color: #ffffff !important;
            background: #30cf6b;
        }

        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }

    </style>
</header>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Posts</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" id="under">
                <br />
                @*<a href="@Url.Action("Create", "Post")" style="text-decoration:underline">ADD NEW</a>*@
                <div class="row">
                    <div class="col-lg-12">
                        @*<a href="@Url.Action("Create", "Post")" style="text-decoration:underline">ADD NEW</a>*@
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Filter By:</label>
                                    <select class="form-control" id="selectStatus">
                                        <option value="all" @(Model.status != null && Model.status != "postsed" && Model.status != "scheduling" ? "selected" : "")>All</option>
                                        <option value="postsed" @(Model.status != null && Model.status == "posted" ? "selected" : "")>Posted</option>
                                        <option value="scheduling" @(Model.status != null && Model.status == "scheduling" ? "selected" : "")>Scheduling</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group pull-right">
                                    <button type="button" onclick="window.location.href='/Post/Create'" class="btn btn-success add-post">Add New</button>
                                </div>

                            </div>

                            <div class="col-lg-12" style="overflow:auto">
                                <table class="table table-striped table-bordered" id="dtBasicExample">
                                    <thead>
                                        <tr>
                                            <th scope="col" width="2%">No</th>
                                            <th scope="col" width="15%">Title</th>
                                            <th scope="col" width="30%">Short Description</th>
                                            <th scope="col" width="12%">Create Date</th>
                                            <th scope="col" width="12%">Post Date</th>
                                            <th scope="col" width="6%">Featured</th>
                                            <th scope="col" width="11%">Schedule/Time Remaining</th>
                                            <th scope="col" width="5%">Posted</th>
                                            <th scope="col" width="25%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.posts)
                                        {
                                            <tr>
                                                <td>@(stt)</td>
                                                <td>@(item.title)</td>
                                                <td>@(item.short_description)</td>
                                                <td>@(item.insert_date)</td>
                                                <td>@(item.enabled == true ? item.update_date : "N/A")</td>
                                                <td style=" font-weight: 800; color: @(item.post_to.Equals("NO") ? "black" : "green")">@(item.post_to)</td>
                                                <td>
                                                    @(Model.calDate(item.schedule_date) == "" ?  "N/A" : Model.calDate(item.schedule_date))
                                                </td>
                                                <td>@(item.enabled)</td>
                                                <td>

                                                    @if (item.enabled == true)
                                                    {
                                                        <a onclick="return EnableDisableClick('ENABLE')" href="@Url.Action("Disable", "Post")?id=@item.post_id">Disable</a>
                                                    }
                                                    else
                                                    {
                                                        <a onclick="return EnableDisableClick('REPOST')" href="@Url.Action("Enable")?id=@item.post_id">RePost</a>
                                                    }<br>
                                                    <a href="@Url.Action("Edit", "Post")?id=@item.post_id">Edit</a><br>
                                                    @if (item.isPin == 0)
                                                    {
                                                        <a onclick="AjaxPinPost(this)" post-id="@item.post_id">Pin</a><br>
                                                    }
                                                    else
                                                    {
                                                        <a onclick="return confirmUnPin()" href="@Url.Action("Unpin", "Post")?postId=@item.post_id">Unpin</a><br>
                                                    }
                                                    <a onclick="return confirmRemove();" href="@Url.Action("Remove", "Post")?post_id=@item.post_id" style="color: red">Remove</a>
                                                </td>
                                            </tr>
                                            { stt += 1; }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("", "Post", FormMethod.Get, new { id = "form" }))
{
    <input type="hidden" name="status" id="status" />
}
<script>
    $(document).ready(function () {
        $("#newModal").modal("show");
        $("#newModal").on('hide.bs.modal', function () {

        });
        $("#newModal").on('hidden.bs.modal', function () {

        });

        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');

    });

        function acceptSchool(id) {
            window.location.href = "@Url.Action("AcceptSchool", "Registration")?id=" + id;
    }

    $('#selectStatus').change(function () {
        document.getElementById('status').value = $(this).val();
        $('#form').submit();
    });

    function confirmRemove() {
        if (confirm("Continue delete post?") == true)
            return true;
        return false;
    }

    function confirmUnPin() {
        if (confirm("Continue UNPIN this post...?") == true)
            return true;
        return false;
    }

    function AjaxPinPost(e) {

        if (confirm("If you continue, this Post will displat at first place ???") == true) {
            var _post_id = e.getAttribute("post-id");
            console.log("id= " + _post_id);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("PinPost", "Post")?postId=' + _post_id + '',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (rs) {
                    var s = rs;
                    if (rs.Status == 1) {
                        alert("Pin Post Successfull");
                        location.reload();
                    } else {
                        alert("Pin Post Failed!!!");
                    }
                }
            });
        }
    }
    function EnableDisableClick(type) {
        return confirm("Do you want to continue " +type +"...?")
    }
</script>


