
@{
    var profile = Session["profile"] as Capstone_SWP490.Models.app_userViewModel.app_userViewModel;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li id="menu-image" onclick="location.href='@Url.Action("Index", "Home")';return false;">
            <img src="~/image/OLP_30_nam-removebg 1.png" />
        </li>
        <li id="menu-home" onclick="location.href='@Url.Action("Index", "Home")';return false;">
            <a href="#">
                <span class="fa-stack fa-lg pull-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                    </svg>
                    @*</i>*@
                </span>Home
            </a>
        </li>
        <div id="menu-content"></div>
        @*<li id="menu-managerment-account" onclick="location.href='@Url.Action("ManagermentAccount", "Admin")';return false;">
            <a href="#">
                <span class="fa-stack fa-lg pull-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-easel2-fill" viewBox="0 0 16 16">
                        <path d="M8.447.276a.5.5 0 0 0-.894 0L7.19 1H2.5A1.5 1.5 0 0 0 1 2.5V10h14V2.5A1.5 1.5 0 0 0 13.5 1H8.809L8.447.276Z" />
                        <path fill-rule="evenodd" d="M.5 11a.5.5 0 0 0 0 1h2.86l-.845 3.379a.5.5 0 0 0 .97.242L3.89 14h8.22l.405 1.621a.5.5 0 0 0 .97-.242L12.64 12h2.86a.5.5 0 0 0 0-1H.5Zm3.64 2 .25-1h7.22l.25 1H4.14Z" />
                    </svg>
                </span>Managerment Account
            </a>
        </li>
        <li id="menu-managerment-role" onclick="location.href='@Url.Action("ManagermentRole", "Admin")';return false;">
            <a href="#">
                <span class="fa-stack fa-lg pull-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-easel2-fill" viewBox="0 0 16 16">
                        <path d="M8.447.276a.5.5 0 0 0-.894 0L7.19 1H2.5A1.5 1.5 0 0 0 1 2.5V10h14V2.5A1.5 1.5 0 0 0 13.5 1H8.809L8.447.276Z" />
                        <path fill-rule="evenodd" d="M.5 11a.5.5 0 0 0 0 1h2.86l-.845 3.379a.5.5 0 0 0 .97.242L3.89 14h8.22l.405 1.621a.5.5 0 0 0 .97-.242L12.64 12h2.86a.5.5 0 0 0 0-1H.5Zm3.64 2 .25-1h7.22l.25 1H4.14Z" />
                    </svg>
                </span>Managerment Role
            </a>
        </li>*@
    </ul>
</div>

<script>
    GetListContent();
    function GetListContent() {
        console.log("get begin");
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetAdminMenu", "Home")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (results) {
                document.getElementById("menu-content").innerHTML = "";
                if (results != null) {
                    for (let i = 0; i < results.length; i++) {
                        document.getElementById("menu-content").innerHTML += `<li>
            <a href="`+ results[i].title_menu_link + `">
                `+ results[i].content + `
            </a>
        </li>`;
                    }
                    console.log("get Done");
                }
            }
        });
    };

</script>