@{
    var profile = Session["profile"] as Capstone_SWP490.Models.app_userViewModel.app_userViewModel;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @*<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>*@
    @*<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">*@
    <link rel="stylesheet" href="~/Content/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/organizer.css" asp-append-version="true" />
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
    @{ Html.RenderPartial("_HeaderLayout", profile);}
    <div id="wrapper">
        <!-- Sidebar -->
        @*@if (profile == null)
            {
                Html.RenderPartial("_GuestMenu", profile);
            }*@
        @if (profile != null && profile.user_role != null && profile.user_role == "ORGANIZER")
        {
            Html.RenderPartial("_OrganizationMenu", profile);
        }
        else if (profile != null && profile.user_role != null && profile.user_role == "ADMIN")
        {
            Html.RenderPartial("_AdminMenu", profile);
        }
        else
        {
            Html.RenderPartial("_GuestMenu", profile);
        }
        <div id="page-content-wrapper">
            @RenderBody()
            <footer class="page-footer font-small blue pt-4" id="footer">
                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">
                    <!-- Grid row -->
                    <div class="row" id="footer-main">
                        <div class="container">
                            <!-- Grid column -->
                            <div class="col-lg-3 col-xs-6">
                                <!-- Links -->
                                <ul class="list-unstyled">
                                    <li onclick="location.href='@Url.Action("Index", "Home")';return false;">
                                        <a href="#!">Home</a>
                                    </li>
                                    <li onclick="location.href='@Url.Action("Guide", "Registration")';return false;">
                                        <a href="#!">How to register</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-lg-3 col-xs-6">
                                <!-- Links -->
                                <ul class="list-unstyled">
                                    <li onclick="location.href='@Url.Action("ScheduleOfActivities", "Home")';return false;">
                                        <a href="#!">Schedule</a>
                                    </li>
                                    <li onclick="location.href='@Url.Action("Event", "Home")';return false;">
                                        <a href="#!">Event</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-lg-3 col-xs-6">
                                <!-- Links -->
                                <ul class="list-unstyled">
                                    <li onclick="location.href='@Url.Action("Rules", "Home")';return false;">
                                        <a href="#!">Rule</a>
                                    </li>
                                    <li onclick="location.href='@Url.Action("LocalInformation", "Home")';return false;">
                                        <a href="#!">
                                            Accomodation
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <!-- Links -->
                                <ul class="list-unstyled">
                                    <img src="~/image/image 29.png">
                                </ul>
                            </div>
                            <!-- Grid column -->
                        </div>
                    </div>
                    <!-- Grid row -->
                </div>
                <!-- Footer Links -->
                <!-- Copyright -->
                <!-- Copyright -->
            </footer>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/home.js" asp-append-version="true"></script>
    <script src="~/Scripts/bootstrap.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</body>
</html>
