@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Page</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="~/Content/home.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-default no-margin">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div><a class="content-area1-title-login" onclick="location.href='@Url.Action("","Home")'" style="text-decoration: none">2021 ACM ICPC Asia-VietNam Regional Contest</a></div>
            
            <div class="content-area1-image2" onclick="location.href='@Url.Action("","Home")'"><img src="~/image/logofpt.png"></div>
        </div>
    </nav>
    @RenderBody()
    <script src="~/Scripts/home.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
