@model  Capstone_SWP490.Models.statisticViewModel.statistic_index_ViewModel
@{
    ViewBag.Title = "Registered School";
}

<style>
    #menu_Overview {
        color: #ffffff !important;
        background: #30cf6b;
    }

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Registered School</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" id="under">
                <section>
                    <div class="form-group" style="padding-left:15px">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li role="presentation" class="nav-item active">
                                <a href="#step1" class="nav-link front-size-title active" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">Registered School</a>
                            </li>

                        </ul>
                    </div>
                    <form role="form">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <div class="col-lg-12">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-success add-post" style=" margin-bottom: 15px; margin-top: 0px !important;">
                                            Export
                                        </button>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-lg-12" id="under" style="border-top: 1px solid gray">
                                    <table class="table table-striped table-bordered table-sm" width="100%">
                                        <thead>
                                            <tr>
                                                <th scope="col" width="1%">No</th>
                                                <th scope="col" width="10%">School name</th>
                                                <th scope="col" width="10%">Institution name</th>
                                                <th scope="col" width="5%">Phone</th>
                                                <th scope="col" width="17%">Address</th>
                                                <th scope="col" width="7%">Coach name</th>
                                                <th scope="col" width="4%">Coach phone</th>
                                                <th scope="col" width="4%">Team</th>
                                                @*<So thanh vien cua tat ca cac team ben tren*@
                                                <th scope="col" width="4%">Contestant</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-contests">
                                            @if (Model.list_registered_school != null && Model.list_registered_school.Count > 0)
                                            {
                                                int count = 0;
                                                foreach (var x in Model.list_registered_school)
                                                {
                                                    <tr>
                                                        <td class="date-table">@(++count)</td>
                                                        <td class="date-table">@(x.school.school_name??"N/A")</td>
                                                        <td class="venue-table">@(x.school.institution_name??"N/A")</td>
                                                        <td class="venue-table">@(x.school.phone_number??"N/A")</td>
                                                        <td class="venue-table">@(x.school.address??"N/A")</td>
                                                        <td class="venue-table">@(x.coach_name??"N/A")</td>
                                                        <td class="venue-table">@(x.coach_phone??"N/A")</td>
                                                        <td class="venue-table">@(x.school.teams.Count)</td>
                                                        <td class="venue-table">@(x.contestant)</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12">
                                    <div class="pull-right">
                                        <button type="button" id="btn-cancel-event" onclick="window.location.href = '/Statistic'" class="btn btn-secondary">Back</button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reason/Note</h4>
            </div>
            @using (Html.BeginForm("RegistrationAction", "Statistic", FormMethod.Get, new { id = "reject-form" }))
            {
                <div class="modal-body">
                    <input id="schoolId" type="hidden" name="schoolId" />
                    <input id="action" type="hidden" name="type" value="1" />
                    <textarea id="reason-text" class="form-control" name="note" required></textarea>
                </div>
                <div class="modal-footer">
                    <button id="submit-reject" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    <button id="reset-reject" style="color:black" type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#newModal").modal("show");
        $("#newModal").on('hide.bs.modal', function () {

        });
        $("#newModal").on('hidden.bs.modal', function () {

        });
        $('#dtBasicExampleEvents').DataTable();
        $('.dataTables_length').addClass('bs-select');

        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });

    document.getElementById("reset-reject").addEventListener('click', function () {
        document.getElementById("reason-text").value = "";
        document.getElementById("schoolId").value = "";
        document.getElementById("action").value = "";
    });
    document.getElementById("submit-reject").addEventListener('click', function () {
        var isEmtyReason = document.getElementById("reason-text").value == '';
        if (!isEmtyReason) {
            document.getElementById("reject-form").submit();
        } else {
            alert("Reason cannot be empty");
        }
    });
    function triggerSubmit(id, action) {
        document.getElementById("schoolId").value = id;
        document.getElementById("action").value = action;
    }
</script>
