@model Capstone_SWP490.Models.coachViewModel.coachSignUpViewModel
@{
    ViewBag.Title = "SignUpForCoach";
}

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Registration For Coach</label>
        </div>
    </div>
    <div class="main">
        @using (Html.BeginForm("Index", "SignUp", FormMethod.Post))
        {
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1" id="under">

                    <input type="hidden" name="teamId" value="" />
                    <input type="hidden" name="id" value="" />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="email" style="color: red">@ViewData["CREATE_ERROR"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="firstName">Full name<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.full_name, new { @class = "form-control", id = "Fullname", placeholder = "Enter Full name", required = "required" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="email">Email<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.email, new { @class = "form-control", type = "email", id = "exampleInputEmail1", placeholder = "Enter Email", required = "required" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="phone">Phone number<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.phone_numer, new { @class = "form-control", id = "exampleInputPhone", placeholder = "Enter Phone Number" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="email">School name<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.school_name, new { @class = "form-control", id = "exampleInputSchoolname", placeholder = "Enter School Name", required = "required" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="phone">Institution name<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.institution_name, new { @class = "form-control", id = "exampleInputInstitutionname", placeholder = "Enter Institution Name ", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="email">Rector Name<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.rector_name, new { @class = "form-control", id = "exampleInputretorName", placeholder = "Enter School Address ", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="email">School Phone<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.school_phone, new { @class = "form-control", id = "exampleInputSchoolphone", placeholder = "Enter School Phone Number ", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="email">School address<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.school_address, new { @class = "form-control", id = "exampleInputAddress", placeholder = "Enter School Address " })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="email">Website</label>
                                @Html.TextBoxFor(x => x.website, new { @class = "form-control", id = "exampleInputweb", placeholder = "Enter School Address " })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" onclick="location.href='@Url.Action("","Home")'" class="btn btn-secondary" style="color:#000000;">Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (ViewData["CREATE_SUCCESS"] != null)
    {

        <div class="col-lg-6">
            <!-- Modal -->
            <div class="modal fade" id="newModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Regist Success</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            We created an coach account for you. Password will be sent to your email after organizer confirmation !
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color:#000000" onclick="window.location.href='/SignUp'">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<script>

    $(document).ready(function () {
        $("#newModal").modal("show");
        $("#newModal").on('hide.bs.modal', function () {

        });
        $("#newModal").on('hidden.bs.modal', function () {

        });
    });

    document.getElementById('Fullname').onkeyup = function () {
        var Fullname = $("#Fullname").val();
        if (Fullname.length >= 1) {
            document.getElementById("Fullname").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("Fullname").style.borderColor = "red";
        }
    }
    document.getElementById('exampleInputEmail1').onkeyup = function () {
        var exampleInputEmail1 = $("#exampleInputEmail1").val();
        if (exampleInputEmail1.length >= 1) {
            document.getElementById("exampleInputEmail1").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("exampleInputEmail1").style.borderColor = "red";
        }
    }
    document.getElementById('exampleInputPhone').onkeyup = function () {
        var exampleInputPhone = $("#exampleInputPhone").val();
        if (exampleInputPhone.length >= 1) {
            document.getElementById("exampleInputPhone").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("exampleInputPhone").style.borderColor = "red";
        }
    }
    document.getElementById('exampleInputSchoolname').onkeyup = function () {
        var exampleInputSchoolname = $("#exampleInputSchoolname").val();
        if (exampleInputSchoolname.length >= 1) {
            document.getElementById("exampleInputSchoolname").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("exampleInputSchoolname").style.borderColor = "red";
        }
    }
    document.getElementById('exampleInputInstitutionname').onkeyup = function () {
        var exampleInputInstitutionname = $("#exampleInputInstitutionname").val();
        if (exampleInputInstitutionname.length >= 1) {
            document.getElementById("exampleInputInstitutionname").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("exampleInputInstitutionname").style.borderColor = "red";
        }
    }
    document.getElementById('exampleInputSchoolphone').onkeyup = function () {
        var exampleInputSchoolphone = $("#exampleInputSchoolphone").val();
        if (exampleInputSchoolphone.length >= 1) {
            document.getElementById("exampleInputSchoolphone").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("exampleInputSchoolphone").style.borderColor = "red";
        }
    }
    document.getElementById('exampleInputAddress').onkeyup = function () {
        var exampleInputAddress = $("#exampleInputAddress").val();
        if (exampleInputAddress.length >= 1) {
            document.getElementById("exampleInputAddress").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("exampleInputAddress").style.borderColor = "red";
        }
    }
</script>