@model  Capstone_SWP490.Models.school_memberViewModel.member_detail_ViewModel
@{ ViewBag.Title = "Memeber | Detail"; }
<style>
    #menu_Registration {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Detail Member</label>
        </div>
    </div>
    <div class="main">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1" id="under">
                <span style="color:red">@ViewData["Update_ERROR"]</span>
                @using (Html.BeginForm("MemberDetail", "Registration", FormMethod.Post, new { id = "form" }))
                {
                    @Html.TextBoxFor(x => x.team_id, new { @class = "form-control", type = "hidden" })
                    @Html.TextBoxFor(x => x.member_id, new { @class = "form-control", type = "hidden" })
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="firstName">First name<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.first_name, new { @class = "form-control", id = "firstName", type = "text", placeholder = "Frist name", @readonly = true })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="middleName">Middle name<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.middle_name, new { @class = "form-control", id = "middleName", type = "text", placeholder = "Middle name", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="lastName">Last name<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(x => x.last_name, new { @class = "form-control", id = "lastName", type = "text", placeholder = "Last name", @readonly = true })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="dob">Date of birth</label>
                                @Html.TextBoxFor(x => x.dob, new { @class = "form-control", id = "dob", type = "date", @Value = Model.dob.ToString("yyyy-MM-dd"), @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                @Html.TextBoxFor(x => x.email, new { @class = "form-control", id = "exampleInputEmail1", type = "email", placeholder = "Email", @readonly = true })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                @Html.TextBoxFor(x => x.phone_number, new { @class = "form-control", id = "exampleInputPhone", type = "text", placeholder = "Phone Number", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="icpc">ICPC</label>
                                @Html.TextBoxFor(x => x.icpc_id, new { @class = "form-control", id = "exampleInputICPC", type = "number", placeholder = "ICPC", @readonly = true })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="year">Year Of Studying</label>
                                @Html.TextBoxFor(x => x.year, new { @class = "form-control", id = "exampleInputYear", type = "number", placeholder = "Year of studying", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputGender">Gender:</label>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(x => x.gender, 0, new { @class = "form-check-input", id = "inlineRadio1", @disabled = true })
                            <label class="form-check-label" for="inlineRadio1">Male</label> &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButtonFor(x => x.gender, 1, new { @class = "form-check-input", id = "inlineRadio1", @disabled = true })
                            <label class="form-check-label" for="inlineRadio2">Female</label> &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButtonFor(x => x.gender, 1, new { @class = "form-check-input", id = "inlineRadio1", @disabled = true })
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>

                    </div>
                    if (!Model.is_leader)
                    {

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputGender">SET AS LEADER MEMBER: </label>
                                    @Html.CheckBoxFor(x => x.is_leader, new { @class = "form-check-input", id = "inlineRadio1", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.is_leader, new { type = "hidden" })
                    }
                    <div class="form-group">
                        <label for="exampleFormControlTextareaAward">Award</label>
                        @Html.TextAreaFor(x => x.award, new { @class = "form-control", id = "award", type = "text", placeholder = "Awards", @readonly = true })
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="contest_members" value="SC" @(Model.individual_contest.Equals("SC") ? "checked" : "") disabled />
                        <label class="form-check-label" for="inlineRadio1">Siêu Cúp</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="contest_members" value="CT" @(Model.individual_contest.Equals("CT") ? "checked" : "") disabled />
                        <label class="form-check-label" for="inlineRadio1">Chuyên Tin</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="contest_members" value="KCT" @(Model.individual_contest.Equals("KCT") ? "checked" : "") disabled />
                        <label class="form-check-label" for="inlineRadio1">Không Chuyên Tin</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="contest_members" value="CD" @(Model.individual_contest.Equals("CD") ? "checked" : "") disabled />
                        <label class="form-check-label" for="inlineRadio1">Cao Đẳng</label>
                    </div>

                }
                <div class="form-group">
                    <span style="color:red;">Select Edit if you are sure you want to edit</span>
                    <div>
                        <div class="form-group">
                            @if (Model.source != "VIEW")
                            {
                                <button type="submit" id="save" class="btn btn-primary" onclick="toggleButton()">Edit</button>
                                if (!Model.is_leader)
                                {
                                    <button type="button" id="delete" class="btn btn-danger">Delete</button>
                                }
                            }
                            <button type="reset" id="cancel" class="btn btn-secondary" style="color:#333333;">@(Model.source != "VIEW" ? "Cancel" : "Back")</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("cancel").addEventListener('click', function () {
         window.location.href ="@Url.Action("TeamDetail", "Registration")?id=@Model.team_id";
    });
        document.getElementById("delete").addEventListener('click', function () {
         window.location.href ="@Url.Action("RemoveMember", "Registration")?team_id=@Model.team_id&member_id=@Model.member_id";
        });

    function toggleButton() {
        var btn = document.getElementById("save").textContent;
        if (btn == 'Edit') {
            btn = document.getElementById("save").textContent = 'Save';
            enableForm();
        } else {
            alert('Data stored at locally. please back to page Result to save into our system');
            document.getElementById("form").submit();
        }
    }

    function enableForm() {
        var btn = document.getElementById("save").textContent;
            var form = document.getElementById("form");
            var elements = form.elements;
            for (var i = 0, len = elements.length; i < len; ++i) {
                elements[i].readOnly = false
                elements[i].disabled = false;
            }
    }
</script>
<script>
    document.getElementById('firstName').onkeyup = function () {
        var firstName = $("#firstName").val();
        if (firstName.length >= 1) {
            document.getElementById("firstName").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("firstName").style.borderColor = "red";
        }
    }
    document.getElementById('middleName').onkeyup = function () {
        var middleName = $("#middleName").val();
        if (middleName.length >= 1) {
            document.getElementById("middleName").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("middleName").style.borderColor = "red";
        }
    }
    document.getElementById('lastName').onkeyup = function () {
        var lastName = $("#lastName").val();
        if (lastName.length >= 1) {
            document.getElementById("lastName").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("lastName").style.borderColor = "red";
        }
    }
</script>