@{
    ViewBag.Title = "Home Page";
}



<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="col-lg-12" id="content_area2_header">
            <div class="col-lg-12" id="content_area2_title">
                <label for="exampleInputTitle">Registration</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <br />
                            <div class="row">
                                @if (Model != null)
                                {
                                    using (Html.BeginForm("InsertMember", "Registration", FormMethod.Post))
                                    { 
                                        <button>Import Data</button>
                                    }
                                        <div>- School: <input type="text" value="@Model.school.school_name" /></div>
                                        <div>- Address: @Model.school.address</div>
                                        <div>- Coach: @(Model.coach.first_name + " " + Model.coach.middle_name + " " + Model.coach.last_name) - Email: @Model.coach.email - Phone: @Model.coach.phone_number</div>
                                        <div>- Vice Coach: @(Model.vice_coach.first_name + " " + Model.vice_coach.middle_name + " " + Model.vice_coach.last_name) - Email: @Model.vice_coach.email - Phone: @Model.vice_coach.phone_number</div>
                                        <br><br />
                                        <select name="team" id="team" onchange="onChanngeDropDown()">
                                            @foreach (var team in Model.school.teams)
                                            {
                                                <option value="@team.team_id" @(team.team_id == Model.displayTeam.team_id ? "selected" : "")>@team.team_name</option>
                                            }
                                        </select>
                                        <div class="col-lg-12">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Team</th>
                                                        <th scope="col">member role</th>
                                                        <th scope="col">First name</th>
                                                        <th scope="col">middle name</th>
                                                        <th scope="col">Last name</th>
                                                        <th scope="col">Date of birth</th>
                                                        <th scope="col">email</th>
                                                        <th scope="col">phone number</th>
                                                        <th scope="col">ICPC ID</th>
                                                        <th scope="col">Gender</th>
                                                        <th scope="col">Year</th>
                                                        <th scope="col">Award</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.displayTeam.team_member)
                                                    {
                                                        <tr>
                                                            <th scope="row">@Model.displayTeam.team_name</th>
                                                            <td>@(item.member.member_role == 3 ? "Leader" : "Member" )</td>
                                                            <td>@(item.member.first_name == "" ? "N/A" : item.member.first_name)</td>
                                                            <td>@(item.member.middle_name == "" ? "N/A" : item.member.middle_name)</td>
                                                            <td>@(item.member.last_name == "" ? "N/A" : item.member.last_name)</td>
                                                            <td>@(item.member.dob == null ? "N/A" : item.member.dob)</td>
                                                            <td style="@(item.member.email == "" )">@(item.member.email == "" ? "N/A" : item.member.email)</td>
                                                            <td>@item.member.phone_number</td>
                                                            <td>@(item.member.phone_number == "" ? "N/A" : item.member.phone_number) </td>
                                                            <td>@(item.member.gender == 0 ? "Male" : "Female")</td>
                                                            <td>@(item.member.year == 0 ? "N/A" : item.member.year)</td>
                                                            <td>@(item.member.award == "" ? "" : "")</td>
                                                            <td><a href="@Url.Action("MemberDetail", "Registration")?id=@item.member.member_id&teamId=@item.team.team_id">Detail</a> </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<form id="changeTeam">
    <input id="teamIdRaw" type="hidden" value="0" name="team"/>
</form>
<script>

    function onChanngeDropDown() {
        var selected = document.getElementById("team").value;
        document.getElementById("teamIdRaw").value = selected;
        document.getElementById("changeTeam").submit();
    }
</script>