@model  Capstone_SWP490.Models.school_memberViewModel.import_resultViewModel
@{ ViewBag.Title = "Registration | Result";
}

<style>
    #menu_Registration {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle"> @(Model.Source.Equals("IMPORT") ? "Result" : "Detail Import")</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" id="under">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                @using (Html.BeginForm(Model.Source == "IMPORT" ? "InsertMember" : "SaveChange", "Registration", FormMethod.Post))
                                {
                                    <div class="col-lg-12">
                                        @if (Model.Source != "VIEW")
                                        {
                                            <label style="color:red">*Important Note: Values in red is required, Please check carefully!!!</label>
                                            <br />
                                        }
                                        @if (Model.RootError == false && Model.School.teams.Count != 0)
                                        {
                                            <div class="form-group">
                                                @if (Model.Source != "VIEW")
                                                {
                                                    <button class="btn btn-primary" style="" id="registration_importdata" onclick="return confirmSave()">Save</button>
                                                }

                                                <button type="reset" class="btn btn-secondary" id="registration_importdata-cancel">@(Model.Source != "VIEW" ? "Cancel" : "Back")</button>
                                                @if (Model.Source != "VIEW" && Model.error != null && Model.error.Count >= 1)
                                                {
                                                    <button type="reset" class="btn btn-danger" id="registration_importdata-Error" data-toggle="modal" data-target="#newModal">Current Error</button>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("", "Registration")">BACK</a>
                                        }

                                    </div>
                                }
                                @if (Model.RootError == false && Model.School.teams.Count >= 1)
                                {
                                    <div class="col-lg-12" style="border-bottom: 1px solid black">
                                        <label for="formFile" class="form-label">+ School Name: </label> <span style="color: @(Model.School.school_name == "" ? "red" : "black")">@(Model.School.school_name == "" ? "N/A" : Model.School.school_name)</span>
                                        <br>
                                        <label for="formFile" class="form-label">+ Insitution Name: </label> <span style="color: @(Model.School.institution_name == "" ? "red" : "black")">@(Model.School.institution_name == "" ? "N/A" : Model.School.institution_name)</span>
                                        <br>
                                        <label for="formFile" class="form-label">+ Address: </label> <span style="color: @(Model.School.address == "" ? "red" : "black")">@(Model.School.address == "" ? "N/A" : Model.School.address)</span>
                                        @if (Model.Coach != null)
                                        {
                                            <br>
                                            <label for="formFile" class="form-label">+ Coach: </label> @(Model.Coach.first_name + " " + Model.Coach.middle_name + " " + Model.Coach.last_name) @(" - ")
                                            <label for="formFile" class="form-label">Email: </label> @Model.Coach.email @(" - ") <label for="formFile" class="form-label">Phone: </label> @Model.Coach.phone_number
                                        }

                                        @if (Model.ViceCoach != null)
                                        {

                                            <label for="formFile" class="form-label">+ Vice Coach: </label> @(Model.ViceCoach.first_name + " " + Model.ViceCoach.middle_name + " " + Model.ViceCoach.last_name) @(" - ")
                                            <label for="formFile" class="form-label">Email: </label> @Model.ViceCoach.email @(" - ") <label for="formFile" class="form-label">Phone: </label> @Model.ViceCoach.phone_number

                                        }
                                    </div>


                                    <br><br />
                                    <div class="col-lg-12" style="overflow:auto;">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Team name</th>
                                                    <th scope="col">Contest name</th>
                                                    <th scope="col">Number of member</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.School.teams)
                                                {
                                                    <tr>
                                                        <td>@(item.team_name)</td>
                                                        <td>@(item.contest.contest_name + "(" + item.contest.code + ")")</td>
                                                        @{
                                                            var count = 0;
                                                            foreach (var memberCount in item.team_member)
                                                            {
                                                                if (memberCount.member.enabled == true)
                                                                {
                                                                    count += 1;
                                                                }
                                                            }
                                                        }
                                                        <td>@(item.team_member.Count)</td>
                                                        <td>
                                                            <a href="@Url.Action("TeamDetail", "Registration")?id=@item.team_id">Detail</a>
                                                            @if (Model.Source != "VIEW")
                                                            {
                                                                @("|")
                                                                <a style="color:red" href="@Url.Action("RemoveTeam", "Registration")?id=@item.team_id"> Remove </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Error model -->
@if (Model.error != null && Model.error.Count > 0)
{
    <div class="col-lg-6">
        <!-- Modal -->
        <div class="modal fade" id="newModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registration Messages</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (Model.error.Count == 1 && Model.error.ElementAt(0).parentObject.Equals("ROOT"))
                        {
                            <div>
                                Import fail!!!
                                <br>- Reason: <span style="color: red">@(Model.error.ElementAt(0).msg)</span>
                            </div>
                        }
                        else
                        {<table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Type</th>
                                        <th scope="col">Sheet</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Position</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var error in Model.error)
                                    {
                                        <tr>
                                            <td style="color : @(error.type == 1 ? "red" : "#ffcc00")">@(error.type == 1 ? "Error" :"Warning")</td>
                                            <th scope="row">@error.parentObject</th>
                                            <td>@Html.Raw(System.Web.HttpUtility.HtmlEncode(@error.msg).Replace("\n", "<br/>"))</td>
                                            <td>@error.occur_position</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color:#000000">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<form id="changeTeam" method="GET" action="@Url.Action("Result", "Registration")">
    <input id="teamIdRaw" type="hidden" value="0" name="team" />
</form>
<script>

    function onChanngeDropDown() {
        var selected = document.getElementById("team").value;
        document.getElementById("teamIdRaw").value = selected;
        document.getElementById("changeTeam").submit();
    }
    $(document).ready(function () {
        $("#newModal").modal("show");
        $("#newModal").on('hide.bs.modal', function () {

        });
        $("#newModal").on('hidden.bs.modal', function () {

        });
    });
    document.getElementById("registration_importdata-cancel").addEventListener('click', function () {
         window.location.href ="@Url.Action("Index", "Registration")";
    });

    function confirmSave() {
        if (confirm("The data before will be replaced by this and you have waiting for confirmation again, Do you want to continue?") == true) {
            return true;
        }
        return false;
    }
</script>
