@model Capstone_SWP490.Models.organization_ViewModel.organization_ListViewModel
@{ ViewBag.Title = "Registration";
}

<style>
    #menu-registration {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Confirm Coach Account</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    @if (Model != null)
                                    {
                                        <div class="col-lg-12" style="overflow:auto;">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        @using (Html.BeginForm("CoachAccount", "Orgnazation", FormMethod.Post))
                                                        {
                                                            <label for="firstName">Select Status:</label>
                                                            @Html.DropDownListFor(x => x.status, new SelectList(Model.comboxStatus), new { @class = "form-control", id = "cbStatus" })
                                                            <label for="firstName">Search By Name/Email:</label>
                                                            @Html.TextBoxFor(x => x.keyword, new { @class = "form-control" })
                                                            <button style="margin-top: 10px">Apply Filter</button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Full Name</th>
                                                        <th scope="col">Account Name</th>
                                                        <th scope="col">Phone(Coach)</th>
                                                        <th scope="col">School Name</th>
                                                        <th scope="col">Institution Name</th>
                                                        <th scope="col">Phone(school)</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.data)
                                                    {
                                                        <tr>
                                                            <td>@(item.full_name)</td>
                                                            <td>@(item.email)</td>
                                                            <td>@(item.coach_phone)</td>
                                                            <td>@(item.school_name)</td>
                                                            <td>@(item.institution_name)</td>
                                                            <td>@(item.school_phone)</td>
                                                            <td style="color: @(item.status == true ? "green" : " red")">@(item.status == true ? "Enabled" : "Disabled")</td>
                                                            <td>
                                                                @if (item.status == true)
                                                                {
                                                                    <a href="@Url.Action("disable", "Orgnazation")?user_id=@item.coach_id">Deactive</a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Action("enable", "Orgnazation")?user_id=@item.coach_id">Active</a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            @if (Model.total_page >= 2)
                                            {
                                                <ul class="pagination">
                                                    <li class="page-item"><a class="page-link" href="@Url.Action("CoachAccount", "Orgnazation")?pageIndex=@((Model.pageIndex + 1) >= Model.total_page ? 1 : Model.pageIndex + 1)&status=@(Model.status)">Previous</a></li>
                                                    @for (int i = 1; i <= Model.total_page; i++)
                                                    {
                                                        <li class="page-item @(Model.pageIndex == i ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("CoachAccount", "Orgnazation", new { pageIndex = i, status = Model.status })">@(i)</a>
                                                        </li>
                                                    }
                                                    <li class="page-item"><a class="page-link" href="@Url.Action("CoachAccount", "Orgnazation")?pageIndex=@((Model.pageIndex - 1) >= 1 ? (Model.pageIndex - 1) : Model.total_page)&status=@(Model.status)">Next</a></li>
                                                </ul>
                                            }
                                        </div>}
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<form id="changeStatus" method="GET" action="@Url.Action("CoachAccount", "Orgnazation")">
    <input id="statusRaw" type="hidden" value="0" name="status" />
</form>
<script>
    $(document).ready(function () {
        $("#newModal").modal("show");
        $("#newModal").on('hide.bs.modal', function () {

        });
        $("#newModal").on('hidden.bs.modal', function () {

        });
    });

</script>
