@model Capstone_SWP490.Models.organization_ViewModel.organization_ListViewModel
@{ ViewBag.Title = "Coach |Confirmer";
}

<style>
    #menu_Coach {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">New Coach Confirmation</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" id="under">
                <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @using (Html.BeginForm("NewRegistCoach", "Orgnazation", FormMethod.Get))
                                    {
                                        <div class="col-lg-6">
                                            <label for="type-event">Search name/email</label>
                                            @Html.TextBoxFor(x => x.keyword, new { @class = "form-control", placeholder = "Enter Name/Email" })
                                        </div>
                                        <div class="col-lg-3">
                                            <button class="btn btn-primary" id="button-coach">Search</button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group pull-right">
                                    <button id="button-coach1" onclick="location.href='@Url.Action("CoachAccount", "Orgnazation")';return false;" class="btn btn-success">Coach Management</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                @if (Model == null || Model.data.Count == 0)
                                {
                                    <br />
                                    <label style="padding-left:15px" class="front-size-title">No new registration now !</label>
                                }
                                else
                                {



                                    <div class="col-lg-12" style="overflow:auto;">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Full Name</th>
                                                    <th scope="col">Account Name</th>
                                                    <th scope="col">Phone(Coach)</th>
                                                    <th scope="col">School Name</th>
                                                    <th scope="col">Institution Name</th>
                                                    <th scope="col">Phone(school)</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.data)
                                                {
                                                    <tr>
                                                        <td>@(item.full_name == null || item.full_name.Equals("") ? "N/A" : item.full_name)</td>
                                                        <td>@(item.email)</td>
                                                        <td>@(item.coach_phone == null || item.coach_phone.Equals("") ? "N/A" : item.coach_phone)</td>
                                                        <td>@(item.school_name == null || item.school_name.Equals("") ? "N/A" : item.school_name)</td>
                                                        <td>@(item.institution_name == null || item.institution_name.Equals("") ? "N/A" : item.institution_name)</td>
                                                        <td>@(item.school_phone == null || item.school_phone.Equals("") ? "N/A" : item.school_phone)</td>
                                                        <td>
                                                            <a style="cursor:pointer" href="@Url.Action("EnableCoach", "Orgnazation")?user_id=@item.coach_id">Accept</a>
                                                            |
                                                            <a onclick="triggerCoachId('@item.coach_id')" style="color: red; cursor: pointer" data-toggle="modal" data-target="#myModal">Reject</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        @if (Model.total_page >= 2)
                                        {
                                            <ul class="pagination">
                                                <li class="page-item"><a class="page-link" href="@Url.Action("CoachAccount", "Orgnazation")?pageIndex=@((Model.pageIndex - 1) <= 0 ? Model.total_page : Model.pageIndex - 1)&status=@(Model.status)">Previous</a></li>
                                                @for (int i = 1; i <= Model.total_page; i++)
                                                {
                                                    <li class="page-item @(Model.pageIndex == i ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("CoachAccount", "Orgnazation", new { pageIndex = i, status = Model.status })">@(i)</a>
                                                    </li>
                                                }
                                                <li class="page-item"><a class="page-link" href="@Url.Action("CoachAccount", "Orgnazation")?pageIndex=@((Model.pageIndex + 1) > Model.total_page ? 1 : Model.pageIndex + 1)&status=@(Model.status)">Next</a></li>
                                            </ul>
                                        }
                                    </div>

                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reject Reason</h4>
                </div>
                @using (Html.BeginForm("RejectCoach", "Orgnazation", FormMethod.Get, new { id = "reject-form" }))
                {
                    <div class="modal-body">
                        <input id="coachId" type="hidden" name="coachId" />
                        <textarea id="reason-text" class="form-control" name="reason" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button id="submit-reject" type="button" class="btn btn-danger" data-dismiss="modal">Reject</button>
                        <button id="reset-reject" style="color:black" type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<script>

    function onChanngeDropDown() {
        var selected = document.getElementById("team").value;
        document.getElementById("teamIdRaw").value = selected;
        document.getElementById("changeTeam").submit();
    }
    $(document).ready(function () {
        $("#newModal").modal("show");
        $("#newModal").on('hide.bs.modal', function () {

        });
        $("#newModal").on('hidden.bs.modal', function () {

        });
    });
    document.getElementById("reset-reject").addEventListener('click', function () {
        document.getElementById("reason-text").value = "";
        document.getElementById("coachId").value = "";
    });
    document.getElementById("submit-reject").addEventListener('click', function () {
        var isEmtyReason = document.getElementById("reason-text").value == '';
        if (!isEmtyReason) {
            document.getElementById("reject-form").submit();
        } else {
            alert("Reason cannot be empty");
        }
    });
    function triggerCoachId(id) {
        document.getElementById("coachId").value = id;
    }
</script>
