
@{
    ViewBag.Title = "Contest";
    var profile = Session["profile"] as Capstone_SWP490.Models.app_userViewModel.app_userViewModel;
    var lstContest = ViewData["Contest"] as List<Capstone_SWP490.Models.contestViewModel.contestViewModel>;
}

<style>
    #menu_Contest {
        color: #ffffff !important;
        background: #30cf6b;
    }

    #menu_Contest_sub1 {
        color: #ffffff !important;
        background: #7FFF00;
    }

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Contest Management</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
          
            <div class="col-lg-10 col-lg-offset-1" id="under">
                <div class="col-lg-12">
                    <div class="panel-body">
                        @if (Session["username"] != null)
                        {
                            if (profile.user_role.Equals("ORGANIZER"))
                            {
                                <div class="form-group pull-right">
                                    <button type="button" onclick="window.location.href='/Home/ContestUpload'" class="btn btn-success">Add</button>
                                </div>
                            }
                        }
                        <div class="form-group">
                            <h5 style="color:red"> @ViewData["error"] </h5>
                            <h5 style="color:green"> @ViewData["success"] </h5>
                        </div>
                    </div>

                    <div class="panel-body table-responsive">
                        @*<div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Select Contest Type:</label>
                            <select class="form-control" id="contest-type" onchange="SearchFilter(this)">
                                <option value="Individual">Individual</option>
                                <option value="Team">Team</option>
                            </select>
                        </div>
                    </div>
                </div>*@
                        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="th-sm" scope="col">Contest name</th>
                                    <th class="th-sm" scope="col">Start date</th>
                                    <th class="th-sm" scope="col">Start end</th>
                                    <th class="th-sm" scope="col">Max contestant</th>
                                    <th class="th-sm" scope="col">Note</th>
                                    @if (Session["username"] != null)
                                    {
                                        if (profile.user_role.Equals("ORGANIZER"))
                                        {
                                            <th class="th-sm" scope="col"></th>
                                            <th class="th-sm" scope="col"></th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody id="table-contest">
                                @if (lstContest != null)
                                {
                                    foreach (var x in lstContest)
                                    {
                                        <tr>
                                            <td>@x.contest_name</td>
                                            <td>@x.start_date</td>
                                            <td>@x.end_date</td>
                                            @if (@x.max_contestant == 1)
                                            {
                                                <td style="text-align:center">Individual</td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center">@x.max_contestant</td>
                                            }
                                            <td>@x.note</td>
                                            @if (Session["username"] != null)
                                            {
                                                if (profile.user_role.Equals("ORGANIZER"))
                                                {
                                                    <td><a href="/Home/ContestEdit?id=@x.contest_id">Edit</a></td>
                                                    @*<td><a href="/Home/ContestDetail?id=@x.contest_id">Detail</a></td>*@
                                                    <td><a href="/Home/ContestDelete?id=@x.contest_id">Delete</a></td>
                                                }
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td><i>No event</i></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<input type="hidden" id="userss" value="@Session["username"]">
@if (Session["username"] != null)
{
    <input type="hidden" id="user_role" value="@profile.user_role">
}
else
{
    <input type="hidden" id="user_role" value="0">
}


<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            "pagingType": "simple"
        });
        $('.dataTables_length').addClass('bs-select');
    });

    function SearchFilter(e) {
        var vas = $("#userss").val();
        var role = $("#user_role").val();
        var key = e.value;


         $.ajax({
            type: 'GET',
            url: '@Url.Action("FilterContest", "Home")',
            data: JSON.stringify({ 'keyFilter': key }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data != null) {
                    alert("RESULT NOT NULL");
                    //document.getElementById("table-events").innerHTML = "";
                    //if (vas != "" && role == 'ORGANIZER') {
                    //    for (let i = 0; i < results.Data.length; i++) {
                    //        document.getElementById("table-events").innerHTML += `<tr>
                    //                        <td>`+ results.Data[i].contest_name + `</td>
                    //                        <td>`+ results.Data[i].start_date + `</td>
                    //                        <td>`+ results.Data[i].end_date + `</td>
                    //                        <td>`+ results.Data[i].max_contestant + `</td>
                    //                        <td>`+ results.Data[i].note + `</td>
                    //                        <td><a href="/Home/ContestEdit?id=`+ results.Data[i].contest_id + `">Edit</a></td>
                    //                        <td><a href="/Home/ContestDelete?id=`+ results.Data[i].contest_id + `">Delete</a></td>
                    //                    </tr>`;
                    //    }
                    //} else {
                    //    for (let i = 0; i < results.Data.length; i++) {
                    //        document.getElementById("table-events").innerHTML += `<tr>
                    //                        <td>`+ results.Data[i].contest_name + `</td>
                    //                        <td>`+ results.Data[i].start_date + `</td>
                    //                        <td>`+ results.Data[i].end_date + `</td>
                    //                        <td>`+ results.Data[i].max_contestant + `</td>
                    //                        <td>`+ results.Data[i].note + `</td>
                    //                    </tr>`;
                    //    }
                    //}
                }
            },
            error: function () {
                alert("RESULT  NULL");
            }
        });
    }

</script>