@model Capstone_SWP490.Models.contestViewModel.contestViewModel
@{
    ViewBag.Title = "Contest Edit";
    var profile = Session["profile"] as Capstone_SWP490.Models.app_userViewModel.app_userViewModel;
}

<style>
    #menu_Contest {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700;1,800&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<script src="//cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Contest Edit</label>
        </div>
    </div>
    <div class="main">
        <div class="column">
          
            <div class="col-lg-10 col-lg-offset-1" id="under">
                @using (Html.BeginForm("ContestEdit", "Home"))
                {
                    <div class="column" style="padding-top:20px">
                        <div class="form-group">
                            <h5 style="color:red"> @ViewData["error"] </h5>
                            <h5 style="color:green"> @ViewData["success"] </h5>
                        </div>
                        <div class="form-group">
                            <label for="Title">Contest name</label>
                            @Html.TextBoxFor(m => m.contest_name, new { type = "text", @class = "form-control", id = "Contestname", name = "Contestname", placeholder = "Contest name" })
                        </div>
                        <div class="form-group">
                            <label for="Title">Code</label>
                            @Html.TextBoxFor(m => m.code, new { type = "text", @class = "form-control ", id = "Code", name = "Code", placeholder = "Code" })
                        </div>
                        @*<div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="Location">Start date</label>
                                    @Html.TextBoxFor(m => m.start_date, new { type = "date", @class = "form-control", @Value = Model.start_date.ToString("yyyy-MM-dd"), id = "ContestStartDate", @onchange = "checkDate()", name = "ContestStartDate", placeholder = "Start date" })
                                </div>
                                <div class="col-lg-6">
                                    <label for="Location">End date</label>
                                    @Html.TextBoxFor(m => m.end_date, new { type = "date", @class = "form-control", @Value = Model.end_date.ToString("yyyy-MM-dd"), id = "ContesteEndDate", @onchange = "checkDate()", name = "ContestEndDate", placeholder = "End date" })
                                </div>
                            </div>
                            <span style="color:red"><i id="text-error-date"></i></span>
                        </div>*@
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="Location">Contestant: </label>
                                    @Html.DropDownListFor(m => m.contest_type, new List<SelectListItem>
                                                                         { new SelectListItem{Text="Team", Value="Team"},
                                                                            new SelectListItem{Text="Individual", Value="Individual"}}, new { @class = "form-control", id = "select-type" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Title">Venue</label>
                            @Html.TextBoxFor(m => m.venue, new { type = "text", @class = "form-control", id = "Venue", name = "Venue", placeholder = "Venue" })
                        </div>
                        <div class="form-group">
                            <label for="ContactorPhone">Max contestant:</label>
                            @Html.TextBoxFor(m => m.max_contestant, new { @class = "form-control", @type = "number", id = "max-contestant", name = "MaxContestant", value = "", placeholder = "Max contestant" })
                        </div>
                        <div class="form-group">
                            <label for="ContactorPhone">Note</label>
                            @Html.TextBoxFor(m => m.note, new { @class = "form-control", id = "Note", name = "Note", value = "", placeholder = "Note" })
                        </div>
                        @Html.TextBoxFor(m => m.contest_id, new { @class = "form-control", style = "display: none;", })
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/Home/Contest'" id="event-canner">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="contest-upload">Add</button>

                            </div>
                        </div>
                        <input id="item-value" max-contestant="@Model.max_contestant" contest_type="@Model.contest_type" hidden />
                    </div>
                }

            </div>
            
        </div>
    </div>
</div>

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        if ($("#select-type").val() === 'Team') {
            $("#max-contestant").val('2');
            $("#error-contentant").html("*The Contestant must be bigger than 1");
            $("#max-contestant").attr("disabled", false)
        } else {
            $("#max-contestant").val('');
            $("#error-contentant").html("");
            $("#max-contestant").attr("disabled", true);
        }
        var typeCrr = $("#item-value").attr("contest_type");
        $("#select-type").val('' + typeCrr).change();

    });
   
    $("#select-type").change(function () {
        if ($("#select-type").val() === 'Team') {
            var contestantCrr = $("#item-value").attr("max-contestant");
            $("#max-contestant").val('' + contestantCrr);
            $("#error-contentant").html("*The Contestant must be bigger than 1");
            $("#max-contestant").attr("disabled", false);
        } else {
            $("#max-contestant").val('');
            $("#error-contentant").html("");
            $("#max-contestant").attr("disabled", true);
        }
    });

    $("#max-contestant").change(function () {
        if ($("#max-contestant").val() < 2) {
            $("#max-contestant").val('2');
        }
    });

    function checkDate() {
        var _startDate = $('#ContestStartDate').val();
        var _endDate = $('#ContesteEndDate').val();
        if (_startDate > _endDate) {
            $('#contest-upload').attr("disabled", true);
            $('#text-error-date').html("The End Date must NOT occur before the Start Date!!!");
        } else {
            $('#contest-upload').attr("disabled", false);
            $('#text-error-date').html("");
        }
        //checkTime();
    }

</script>