@{
    ViewBag.Title = "Event Detail";
    var events = ViewData["Events"] as Capstone_SWP490.Models.events_ViewModel.eventsViewModel;
    var member = ViewData["Members"] as Capstone_SWP490.member;
}
<style>
    #menu_Schedule {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Event Detail</label>
        </div>
    </div>
    <div class="main">
        <div class="column">
            
            <div class="col-lg-10 col-lg-offset-1" id="under">
                @if (events != null)
                {
                    <div class="col-lg-12">
                        <label class="front-size-title" for="Event_Schedule">
                            About the Event
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label class="Event-Title" for="Event_Schedule">
                            Title:
                        </label>
                        <label class="Event-Content" for="Event_Schedule">
                            @events.title
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label class="Event-Title" for="Event_Schedule">
                            Time start:
                        </label>
                        <label class="Event-Content" for="Event_Schedule">
                            @events.start_date_str
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label class="Event-Title" for="Event_Schedule">
                            Time end:
                        </label>
                        <label class="Event-Content" for="Event_Schedule">
                            @events.end_date_str
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label class="Event-Title" for="Event_Schedule">
                            Desctiption:
                        </label>
                        <label class="Event-Content" for="Event_Schedule">
                            @events.desctiption
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label class="Event-Title" for="Event_Schedule">
                            Venue:
                        </label>
                        <label class="Event-Content" for="Event_Schedule">
                            @events.venue
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label class="Event-Title" for="Event_Schedule">
                            Contactor phone:
                        </label>
                        <label class="Event-Content" for="Event_Schedule">
                            @events.contactor_phone
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label class="Event-Title" for="Event_Schedule">
                            Contactor email:
                        </label>
                        <label class="Event-Content" for="Event_Schedule">
                            @events.contactor_email
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label class="Event-Title" for="Event_Schedule">
                            Contactor Name:
                        </label>
                        <label class="Event-Content" for="Event_Schedule">
                            @events.contactor_name
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label class="Event-Title" for="Event_Schedule">
                            Fanpage:
                        </label>
                        <label class="Event-Content" for="Event_Schedule">
                            <a href="#">@events.fan_page</a>
                        </label>
                    </div>
                }
            </div>
            
        </div>
    </div>
</div>


<script>

    function JoinEvent(e) {
        var x = $(e).attr("member-id");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("JoinEvent", "Home")',
            data: JSON.stringify({ 'userId': x }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (rs) {
                if (rs != null) {
                    var s = rs;
                    if (rs.Status == 1) {
                        alert("Join Event Successfully!!!");
                        location.reload();
                    } else {
                        alert("Fail");
                    }
                }
            }
        });
    }

</script>