@{
    ViewBag.Title = "Event";
    var profile = Session["profile"] as Capstone_SWP490.Models.app_userViewModel.app_userViewModel;
    var lstEvent = ViewData["Events"] as List<Capstone_SWP490.Models.events_ViewModel.eventsViewModel>;
    var member = ViewData["Members"] as Capstone_SWP490.member;
}
<style>
    #menu_Schedule {
        color: #ffffff !important;
        background: #eee;
    }

    label {
        margin-bottom: 0px !important;
      
    }
    .JTable {
        border: 1px solid #ccc;
       
    }

        .JTable .thead,
        .JTable .tfoot {
            background-color: #4c4f5a;
            color: white;
        }

        .JTable.scrollable .tbody {
            max-height: 400px;
            overflow: scroll;
        }

        .JTable.scrollable ::-webkit-scrollbar {
            width: 0.5em;
            height: 0.5em;
        }

        .JTable.scrollable ::-webkit-scrollbar-thumb {
            background-color: #4c4f5a;
        }

        .JTable .center {
            text-align: center;
        }

        .JTable label {
            cursor: pointer;
        }

            .JTable label:hover {
                background-color: #ddd;
            }

        .JTable .tr {
            display: grid;
            grid-template-columns: 1fr repeat(2, 20em);
            position: relative;
            z-index: 1;
        }

            .JTable .tr .td:first-child {
                padding-left: 1.25em;
            }

        .JTable .td,
        .JTable .th {
            padding: 0.3em 0.5em;
            border-bottom: 1px solid #ccc;
        }

        .JTable .th {
            text-align: center;
        }

        .JTable .tr > .tr {
            grid-column-end: span 3;
            margin-left: 1em;
        }

        .JTable.group-line .tr > .tr:before {
            content: '';
            position: absolute;
            width: 2px;
            background-color: #ccc;
            height: 100%;
            left: -0.5em;
        }

        .JTable .tr input[type='checkbox'] {
            position: absolute;
            top: 0.25em;
        }

            .JTable .tr input[type='checkbox']:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: white;
            }

            .JTable .tr input[type='checkbox']:after {
                content: '-';
                position: absolute;
                font-size: 2em;
                top: -0.45em;
                left: 0.05em;
                cursor: pointer;
            }

            .JTable .tr input[type='checkbox']:checked:after {
                content: '+';
                position: absolute;
                font-size: 2em;
                top: -0.37em;
                left: -0.05em;
            }


            .JTable .tr input[type='checkbox'] ~ .tr {
                transition: 0.3s;
            }

            .JTable .tr input[type='checkbox']:checked ~ .tr {
                transition: 0.3s;
                overflow: hidden;
            }

            .JTable .tr input[type='checkbox'] ~ .tr .td {
                transition: 0.3s;
            }

            .JTable .tr input[type='checkbox']:checked ~ .tr .td {
                transition: 0.3s;
                border: none;
                font-size: 0;
            }


    .tr.clickable {
        cursor: pointer;
        z-index: 10;
    }

        .tr.clickable:hover {
            background-color: #ccc;
            z-index: 10;
        }
</style>


<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Event Schedule</label>
        </div>
    </div>
    <div class="main">
        <div class="column">

            <div class="col-lg-10 col-lg-offset-1" id="under">
                <div class="form-group">
                    <label class="front-size-title" for="Event_Schedule">
                        Event Schedule
                    </label>
                </div>
                <div class="form-group">
                    <h5 style="color:red"> @ViewData["error"] </h5>
                    <h5 style="color:green"> @ViewData["success"] </h5>
                </div>
                <div class="form-group">
                    <p style="color:red"><i id="error-select-search"></i></p>
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="type-event">Date Start:</label>
                            <input type="date" class="form-control" id="from-date" onchange="searchSelect()" value="none" placeholder="From">
                        </div>
                        <div class="col-lg-3">
                            <label for="type-event">Date End:</label>
                            <input type="date" class="form-control" id="to-date" onchange="searchSelect()" value="none" placeholder="To">
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-primary" id="btn-search-event" onclick="SearchEvent()"> Search</button>
                        </div>
                        @if (Session["username"] != null)
                        {
                            if (profile.user_role.Equals("ORGANIZER"))
                            {
                                <div class="col-lg-3">
                                    <button type="button" id="btn-add-event" onclick="window.location.href='/Home/EventUpload'" class="btn btn-success">Add Event</button>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12" id="Table_Size_All">
                        <div class="JTable scrollable">
                            <div class="table">
                                <div class="thead">
                                    <div class="tr" style=" background-color: #ddd; color:#333333; font-weight:bold;">
                                        <div class="td">Title</div>
                                        <div class="td">Time</div>
                                        <div class="td">Location</div>
                                    </div>
                                </div>
                                <div class="tbody">
                                    <div class="tr">
                                        <label for="dso_1" class="td">Khai mạc OLP'21, PROCON, ICPC Asia Hanoi - Kỷ niệm 30 năm OLP và 15 năm ICPC Vietnam</label>
                                        <div class="td">15-04-2022 7h30AM-8h30AM</div>
                                        <div class="td">Khu nhà Alpha</div>
                                        <input id="dso_1" type="checkbox">
                                        <div class="tr">
                                            <div for="dso_2" class="td">Khai mạc OLP'21, PROCON, ICPC Asia Hanoi - Kỷ niệm 30 năm OLP và 15 năm ICPC Vietnam</div>
                                            <div class="td">7h30AM-8h30AM</div>
                                            <div class="td">Khu nhà Alpha</div>
                                        </div>
                                        <div class="tr">
                                            <div for="dso_2" class="td">Khai mạc OLP'21, PROCON, ICPC Asia Hanoi - Kỷ niệm 30 năm OLP và 15 năm ICPC Vietnam</div>
                                            <div class="td">7h30AM-8h30AM</div>
                                            <div class="td">Khu nhà Alpha</div>
                                        </div>
                                        <div class="tr">
                                            <div for="dso_2" class="td">Khai mạc OLP'21, PROCON, ICPC Asia Hanoi - Kỷ niệm 30 năm OLP và 15 năm ICPC Vietnam</div>
                                            <div class="td">7h30AM-8h30AM</div>
                                            <div class="td">Khu nhà Alpha</div>
                                        </div>
                                    </div>
                                    <div class="tr">
                                        <label for="dso_1" class="td">Khai mạc OLP'21, PROCON, ICPC Asia Hanoi - Kỷ niệm 30 năm OLP và 15 năm ICPC Vietnam</label>
                                        <div class="td">7h30AM-8h30AM</div>
                                        <div class="td">Khu nhà Beta</div>
                                        <input id="dso_1" type="checkbox">
                                        <div class="tr">
                                            <div for="dso_2" class="td">Khai mạc OLP'21, PROCON, ICPC Asia Hanoi - Kỷ niệm 30 năm OLP và 15 năm ICPC Vietnam1</div>
                                            <div class="td">7h30AM-8h30AM</div>
                                            <div class="td">Khu nhà Beta</div>
                                        </div>
                                        <div class="tr">
                                            <div for="dso_2" class="td">Khai mạc OLP'21, PROCON, ICPC Asia Hanoi - Kỷ niệm 30 năm OLP và 15 năm ICPC Vietnam</div>
                                            <div class="td">7h30AM-8h30AM</div>
                                            <div class="td">Khu nhà Alpha</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @if (Session["username"] != null)
                {
                    if (member != null)
                    {
                        if (member.event_notify == false)
                        {
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary pull-right" onclick="JoinEvent(this)" member-id="@member.member_id" id="btn-registration_title">
                                    @*<a href="/Home/JoinEvent?userId=@member.member_id" class="button">Join Now</a>*@
                                    Join Now
                                </button>
                            </div>
                        }
                    }
                }

            </div>

        </div>

    </div>

</div>
<input type="hidden" id="userss" value="@Session["username"]">
@if (Session["username"] != null)
{
    <input type="hidden" id="user_role" value="@profile.user_role">
}
else
{
    <input type="hidden" id="user_role" value="0">
}

<script>

    function searchSelect() {
        var _formdate = $("#from-date").val();
        var _todate = $("#to-date").val();
        if (_formdate != '' && _todate != '') {
            if (_formdate > _todate) {
                $("#btn-search-event").attr("disabled", true);
                $("#error-select-search").html("*Start Date must be BEFORE End Date!!!");
            } else {
                $("#btn-search-event").attr("disabled", false);
                $("#error-select-search").html("");
            }
        }

    }


    function SearchEvent() {
        var fromdate = $("#from-date").val();
        var todate = $("#to-date").val();
        var vas = $("#userss").val();
        var role = $("#user_role").val();
        //alert("Searching " + fromdate + " To " + todate)

        let objectIn = {
            start_date: fromdate,
            end_date: todate
        };


        $.ajax({
            type: 'POST',
            url: '@Url.Action("SearchEvent", "Home")',
            data: JSON.stringify(objectIn),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (results) {
                if (results != null) {
                    document.getElementById("table-events").innerHTML = "";
                    if (vas != "" && role == 'ORGANIZER') {
                        for (let i = 0; i < results.Data.length; i++) {
                            let _startDate = new Date(+("" + results.Data[i].start_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                            let _endDate = new Date(+("" + results.Data[i].end_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                            document.getElementById("table-events").innerHTML += `
                                        <tr>
                                            <td class="date-table">`+ _startDate+`</td>
                                            <td class="date-table">`+ _endDate+`</td>
                                            <td class="venue-table">`+ results.Data[i].venue +`</td>
                                            <td class="title-table">`+ results.Data[i].title +`</td>
                                            <td class="action-table"><a href="/Home/EventEdit?id=`+ results.Data[i].event_id +`">Edit</a></td>
                                            <td class="action-table"><a href="/Home/EventDetail?id=`+ results.Data[i].event_id+`">Detail</a></td>
                                            <td class="action-table"><a href="/Home/EventDelete?id=`+ results.Data[i].event_id +`">Delete</a></td>
                                        </tr>`;
                        }
                    } else {
                        for (let i = 0; i < results.Data.length; i++) {
                            let _startDate = new Date(+("" + results.Data[i].start_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                            let _endDate = new Date(+("" + results.Data[i].end_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                            document.getElementById("table-events").innerHTML += `<tr>
                                            <td class="date-table">`+ _startDate + `</td>
                                            <td class="date-table">`+ _endDate + `</td>
                                            <td class="venue-table">`+ results.Data[i].venue + `</td>
                                            <td class="title-table">`+ results.Data[i].title + `</td>
                                            <td class="action-table"><a href="/Home/EventDetail?id=`+ results.Data[i].event_id + `">Detail</a></td>
                                        </tr>`;
                        }
                    }
                }
            }
        });
    };

    function JoinEvent(e) {
        var x = $(e).attr("member-id");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("JoinEvent", "Home")',
            data: JSON.stringify({ 'userId': x }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (rs) {
                if (rs != null) {
                    var s = rs;
                    if (rs.Status == 1) {
                        alert("Join Event Successfully!!!");
                        location.reload();
                    } else {
                        alert("Fail");
                    }
                }
            }
        });
    }
</script>
