@{
    ViewBag.Title = "Event";
    var profile = Session["profile"] as Capstone_SWP490.Models.app_userViewModel.app_userViewModel;
    var lstEvent = ViewData["Events"] as List<Capstone_SWP490.Models.events_ViewModel.eventsMainViewModel>;
    var member = ViewData["Members"] as Capstone_SWP490.member;

    <link rel="stylesheet" href="~/Content/event.css" asp-append-version="true" />
}
<style>
    #menu_Schedule {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>


<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Event Schedule</label>
        </div>
    </div>
    <div class="main">
        <div class="column">

            <div class="col-lg-10 col-lg-offset-1" id="under">
                <div class="form-group">
                    <label class="front-size-title" for="Event_Schedule">
                        Event Schedule
                    </label>
                </div>
                <div class="form-group">
                    <h5 style="color:red"> @ViewData["error"] </h5>
                    <h5 style="color:green"> @ViewData["success"] </h5>
                </div>
                <div class="form-group">
                    <p style="color:red"><i id="error-select-search"></i></p>
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="type-event">Date Start:</label>
                            <input type="date" class="form-control" id="from-date" onchange="searchSelect()" value="none" placeholder="From">
                        </div>
                        <div class="col-lg-3">
                            <label for="type-event">Date End:</label>
                            <input type="date" class="form-control" id="to-date" onchange="searchSelect()" value="none" placeholder="To">
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-primary" id="btn-search-event" onclick="SearchEvent()"> Search</button>
                        </div>
                        @if (Session["username"] != null)
                        {
                            if (profile.user_role.Equals("ORGANIZER"))
                            {
                                <div class="col-lg-3">
                                    <button type="button" id="btn-add-event" onclick="window.location.href='/Home/EventUpload'" class="btn btn-success">Add Event</button>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12" id="Table_Size_All">
                        <div class="JTable">
                            <div class="table">
                                <div class="thead">
                                    <div class="tr" id="title-table" style=" background-color: #ddd; color:#333333; font-weight:bold;">
                                        <div class="td">Title</div>
                                        <div class="td">Time</div>
                                        <div class="td">Location</div>
                                        @if (Session["username"] != null)
                                        {
                                            if (profile.user_role.Equals("ORGANIZER"))
                                            {
                                                <div class="td"></div>
                                                <div class="td"></div>
                                                <div class="td"></div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="tbody" id="table-events">
                                    @if (lstEvent.Count > 0)
                                    {
                                        int cou = 0;
                                        foreach (var x in lstEvent)
                                        {
                                            ++cou;
                                            <div class="tr" id="Or-@x.event_id">
                                                <label for="dso_@cou" class="td" style="background-color: gold">@x.title</label>
                                                <div class="td" style="background-color: gold ">@x.start_date_str</div>
                                                <div class="td" style="background-color: gold">@x.venue</div>
                                                <input id="dso_@cou" type="checkbox">

                                                @if (Session["username"] != null)
                                                {
                                                    if (profile.user_role.Equals("ORGANIZER"))
                                                    {
                                                        <div class="td">
                                                            <a href="/Home/EventDetail?id=@x.event_id">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                                                </svg>
                                                            </a>&ensp;
                                                            <a href="/Home/EventEdit?id=@x.event_id">
                                                                <svg xmlns="http://www.w3.org/2000/svg" style="color:green" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                </svg>
                                                            </a>&ensp;
                                                            <a href="/Home/EventDelete?id=@x.event_id">
                                                                <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                                </svg>
                                                            </a>
                                                        </div>
                                                        <script>
                                                            document.getElementById("Or-@x.event_id").style.gridTemplateColumns = "45% 15% 34% 6%";
                                                            document.getElementById("title-table").style.gridTemplateColumns = "45% 15% 36% 2%";
                                                        </script>
                                                    }
                                                    else
                                                    {
                                                        <div class="td">
                                                            <a href="/Home/EventDetail?id=@x.event_id">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="td">
                                                        <a href="/Home/EventDetail?id=@x.event_id">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                }

                                                @if (x.subEvent.Count > 0)
                                                {
                                                    foreach (var e in x.subEvent)
                                                    {
                                                        <div class="tr" id="sub">
                                                            <div for="dso_2" class="td">@e.title</div>
                                                            <div class="td">@e.start_date.ToString("HH:mm") - @e.end_date.ToString("HH:mm")</div>
                                                            <div class="td">@e.venue</div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="tr">
                                                        <div class="td"><i>No Sub-events</i></div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="tr">
                                            <div class="td"><i>No Events</i></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--if (Session["username"] != null)
                {
                    if (member != null)
                    {
                        if (member.event_notify == false)
                        {
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary pull-right" onclick="JoinEvent(this)" member-id="@member.member_id" id="btn-registration_title">-->
                                    @*<a href="/Home/JoinEvent?userId=@member.member_id" class="button">Join Now</a>*@
                                    <!--Join Now
                                </button>
                            </div>
                        }
                    }
                }-->

            </div>

        </div>

    </div>

</div>
<input type="hidden" id="userss" value="@Session["username"]">

@if (Session["username"] != null)
{
    <input type="hidden" id="user_role" value="@profile.user_role">
}
else
{
    <input type="hidden" id="user_role" value="0">
}

<script>

    function searchSelect() {
        var _formdate = $("#from-date").val();
        var _todate = $("#to-date").val();
        if (_formdate != '' && _todate != '') {
            if (_formdate > _todate) {
                $("#btn-search-event").attr("disabled", true);
                $("#error-select-search").html("*Start Date must be BEFORE End Date!!!");
            } else {
                $("#btn-search-event").attr("disabled", false);
                $("#error-select-search").html("");
            }
        }

    }


    function SearchEvent() {
        var fromdate = $("#from-date").val();
        var todate = $("#to-date").val();
        var vas = $("#userss").val();
        var role = $("#user_role").val();
        //alert("Searching " + fromdate + " To " + todate)

        let objectIn = {
            start_date: fromdate,
            end_date: todate
        };


        $.ajax({
            type: 'POST',
            url: '@Url.Action("SearchEvent", "Home")',
            data: JSON.stringify(objectIn),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (results) {
                if (results != null) {
                    document.getElementById("table-events").innerHTML = "";
                    if (vas != "" && role == 'ORGANIZER') {
                        document.getElementById("title-table").style.gridTemplateColumns = "45% 15% 36% 2%";
                        let strOut = ``;
                        if (results.Data.length > 0) {
                            for (let i = 0; i < results.Data.length; i++) {
                                let _startDate = new Date(+("" + results.Data[i].start_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                                let _endDate = new Date(+("" + results.Data[i].end_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                                strOut += `<div class="tr" id="Or-` + results.Data[i].event_id +`" style="grid-template-columns: 45% 15% 34% 6%">
                                                <label for="dso_`+i+`" class="td" style="background-color: gold">`+ results.Data[i].title + `</label>
                                                <div class="td" style="background-color: gold ">`+ _startDate + `</div>
                                                <div class="td" style="background-color: gold">`+ results.Data[i].venue + `</div>
                                                <input id="dso_`+ i +`" type="checkbox">
                                                <div class="td">
                                                    <a href="/Home/EventDetail?id=`+ results.Data[i].event_id + `">
                                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                               <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                                         </svg>
                                                    </a>&ensp;
                                                    <a href="/Home/EventEdit?id=`+ results.Data[i].event_id + `">
                                                        <svg xmlns="http://www.w3.org/2000/svg" style="color:green" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                        </svg>
                                                    </a>&ensp;
                                                    <a href="/Home/EventDelete?id=`+ results.Data[i].event_id + `">
                                                        <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            `;
                                if (results.Data[i].subEvent.length > 0) {
                                    for (let ev = 0; ev < results.Data[i].subEvent.length; ev++) {
                                        let _startTime = new Date(+("" + results.Data[i].subEvent[ev].start_date).slice(6, 19)).toLocaleString('en-GB', { hour: "2-digit", minute: "2-digit" }).split("/").join("-");
                                        let _endTime = new Date(+("" + results.Data[i].subEvent[ev].end_date).slice(6, 19)).toLocaleString('en-GB', { hour: "2-digit", minute: "2-digit" }).split("/").join("-");
                                        strOut += `<div class="tr" id="sub">
                                                            <div for="dso_`+ i + `" class="td">` + results.Data[i].subEvent[ev].title + `</div>
                                                            <div class="td">`+ _startTime + ` - ` + _endTime + `</div>
                                                            <div class="td">`+ results.Data[i].subEvent[ev].venue + `</div>
                                                        </div>`;
                                    }
                                } else {
                                    strOut += `<div class="tr">
                                                        <div class="td"><i>No Sub-events</i></div>
                                                    </div>`;
                                }
                                strOut += `</div>`;
                            }
                        } else {
                            strOut += ` <div class="tr">
                                                        <div class="td"><i>No Events</i></div>
                                                    </div>`;
                        }
                        document.getElementById("table-events").innerHTML += strOut;
                    }
                    else {
                        let strOut = ``;
                        if (results.Data.length > 0) {
                            for (let i = 0; i < results.Data.length; i++) {
                                let _startDate = new Date(+("" + results.Data[i].start_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                                let _endDate = new Date(+("" + results.Data[i].end_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                                strOut += `<div class="tr" id="Or-` + results.Data[i].event_id +`" >
                                                <label for="dso_`+ i +`" class="td" style="background-color: gold">`+ results.Data[i].title + `</label>
                                                <div class="td" style="background-color: gold ">`+ _startDate + `</div>
                                                <div class="td" style="background-color: gold">`+ results.Data[i].venue + `</div>
                                                <input id="dso_`+ i +`" type="checkbox">
                                                <div class="td">
                                                    <a href="/Home/EventDetail?id=`+ results.Data[i].event_id + `">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                              <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            `;
                                if (results.Data[i].subEvent.length > 0) {
                                    for (let ev = 0; ev < results.Data[i].subEvent.length; ev++) {
                                        let _startTime = new Date(+("" + results.Data[i].subEvent[ev].start_date).slice(6, 19)).toLocaleString('en-GB', { hour: "2-digit", minute: "2-digit" }).split("/").join("-");
                                        let _endTime = new Date(+("" + results.Data[i].subEvent[ev].end_date).slice(6, 19)).toLocaleString('en-GB', { hour: "2-digit", minute: "2-digit" }).split("/").join("-");
                                        strOut += `<div class="tr" id="sub">
                                                            <div for="dso_`+ i +`" class="td">`+ results.Data[i].subEvent[ev].title + `</div>
                                                            <div class="td">`+ _startTime + ` - ` + _endTime + `</div>
                                                            <div class="td">`+ results.Data[i].subEvent[ev].venue + `</div>
                                                        </div>`;
                                    }
                                } else {
                                    strOut += `<div class="tr">
                                                        <div class="td"><i>No Sub-events</i></div>
                                                    </div>`;
                                }
                                strOut += `</div>`;
                            }
                        } else {
                            strOut += `<div class="tr">
                                                        <div class="td"><i>No Events</i></div>
                                                    </div>`;
                        }
                        document.getElementById("table-events").innerHTML += strOut;
                    }
                }
            }
        });
    };

    function JoinEvent(e) {
        var x = $(e).attr("member-id");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("JoinEvent", "Home")',
            data: JSON.stringify({ 'userId': x }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (rs) {
                if (rs != null) {
                    var s = rs;
                    if (rs.Status == 1) {
                        alert("Join Event Successfully!!!");
                        location.reload();
                    } else {
                        alert("Fail");
                    }
                }
            }
        });
    }
</script>