@{
    ViewBag.Title = "Event";
    var profile = Session["profile"] as Capstone_SWP490.Models.app_userViewModel.app_userViewModel;
    var lstEvent = ViewData["Events"] as List<Capstone_SWP490.Models.events_ViewModel.eventsViewModel>;
    var member = ViewData["Members"] as Capstone_SWP490.member;
}
<style>
    #menu_Schedule {
        color: #ffffff !important;
        background: #30cf6b;
    }

    .title-table {
        /*width: 530px;*/
    }

    .venue-table {
        width: 120px;
    }

    .date-table {
        width: 120px;
    }

    .action-table {
        width: 70px;
    }
</style>


<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Event Schedule</label>
        </div>
    </div>
    <div class="main">
        <div class="column">
            
            <div class="col-lg-10 col-lg-offset-1" id="under">
                <div class="form-group">
                    <label class="front-size-title" for="Event_Schedule">
                        Event Schedule
                    </label>
                </div>
                <div class="form-group">
                    <h5 style="color:red"> @ViewData["error"] </h5>
                    <h5 style="color:green"> @ViewData["success"] </h5>
                </div>
                <div class="form-group">
                    <p style="color:red"><i id="error-select-search"></i></p>
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="type-event">Date Start:</label>
                            <input type="date" class="form-control" id="from-date" onchange="searchSelect()" value="none" placeholder="From">
                        </div>
                        <div class="col-lg-3">
                            <label for="type-event">Date End:</label>
                            <input type="date" class="form-control" id="to-date" onchange="searchSelect()" value="none" placeholder="To">
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-primary" id="btn-search-event" onclick="SearchEvent()"> Search</button>
                        </div>
                        @if (Session["username"] != null)
                        {
                            if (profile.user_role.Equals("ORGANIZER"))
                            {
                                <div class="col-lg-3">
                                    <button type="button" id="btn-add-event" onclick="window.location.href='/Home/EventUpload'" class="btn btn-success">Add Event</button>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12" id="Table_Size_All">
                        <table class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Time Start</th>
                                    <th scope="col">Time End</th>
                                    <th scope="col"width="30%">Location</th>
                                    <th scope="col">Title</th>
                                    @if (Session["username"] != null)
                                    {
                                        if (profile.user_role.Equals("ORGANIZER"))
                                        {
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody id="table-events">
                                @if (lstEvent != null)
                                {
                                    foreach (var x in lstEvent)
                                    {
                                        <tr>
                                            <td class="date-table">@x.start_date_str</td>
                                            <td class="date-table">@x.end_date_str</td>
                                            <td class="venue-table">@x.venue</td>
                                            <td class="title-table">@x.title</td>
                                            @if (Session["username"] != null)
                                            {
                                                if (profile.user_role.Equals("ORGANIZER"))
                                                {
                                                    <td class="action-table"><a href="/Home/EventEdit?id=@x.event_id">Edit</a></td>
                                                    <td class="action-table"><a href="/Home/EventDetail?id=@x.event_id">Detail</a></td>
                                                    <td class="action-table"><a href="/Home/EventDelete?id=@x.event_id">Delete</a></td>
                                                }
                                                else
                                                {
                                                    <td class="action-table"><a href="/Home/EventDetail?id=@x.event_id">Detail</a></td>
                                                }
                                            }
                                            else
                                            {
                                                <td class="action-table"><a href="/Home/EventDetail?id=@x.event_id">Detail</a></td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td><i>No event</i></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Session["username"] != null)
                {
                    if (member != null)
                    {
                        if (member.event_notify == false)
                        {
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary pull-right" onclick="JoinEvent(this)" member-id="@member.member_id" id="btn-registration_title">
                                    @*<a href="/Home/JoinEvent?userId=@member.member_id" class="button">Join Now</a>*@
                                    Join Now
                                </button>
                            </div>
                        }
                    }
                }

            </div>
            
        </div>

    </div>

</div>
<input type="hidden" id="userss" value="@Session["username"]">
@if (Session["username"] != null)
{
    <input type="hidden" id="user_role" value="@profile.user_role">
}
else
{
    <input type="hidden" id="user_role" value="0">
}

<script>

    function searchSelect() {
        var _formdate = $("#from-date").val();
        var _todate = $("#to-date").val();
        if (_formdate != '' && _todate != '') {
            if (_formdate > _todate) {
                $("#btn-search-event").attr("disabled", true);
                $("#error-select-search").html("*Start Date must be BEFORE End Date!!!");
            } else {
                $("#btn-search-event").attr("disabled", false);
                $("#error-select-search").html("");
            }
        }

    }


    function SearchEvent() {
        var fromdate = $("#from-date").val();
        var todate = $("#to-date").val();
        var vas = $("#userss").val();
        var role = $("#user_role").val();
        //alert("Searching " + fromdate + " To " + todate)

        let objectIn = {
            start_date: fromdate,
            end_date: todate
        };


        $.ajax({
            type: 'POST',
            url: '@Url.Action("SearchEvent", "Home")',
            data: JSON.stringify(objectIn),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (results) {
                if (results != null) {
                    document.getElementById("table-events").innerHTML = "";
                    if (vas != "" && role == 'ORGANIZER') {
                        for (let i = 0; i < results.Data.length; i++) {
                            let _startDate = new Date(+("" + results.Data[i].start_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                            let _endDate = new Date(+("" + results.Data[i].end_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                            document.getElementById("table-events").innerHTML += `
                                        <tr>
                                            <td class="date-table">`+ _startDate+`</td>
                                            <td class="date-table">`+ _endDate+`</td>
                                            <td class="venue-table">`+ results.Data[i].venue +`</td>
                                            <td class="title-table">`+ results.Data[i].title +`</td>
                                            <td class="action-table"><a href="/Home/EventEdit?id=`+ results.Data[i].event_id +`">Edit</a></td>
                                            <td class="action-table"><a href="/Home/EventDetail?id=`+ results.Data[i].event_id+`">Detail</a></td>
                                            <td class="action-table"><a href="/Home/EventDelete?id=`+ results.Data[i].event_id +`">Delete</a></td>
                                        </tr>`;
                        }
                    } else {
                        for (let i = 0; i < results.Data.length; i++) {
                            let _startDate = new Date(+("" + results.Data[i].start_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                            let _endDate = new Date(+("" + results.Data[i].end_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                            document.getElementById("table-events").innerHTML += `<tr>
                                            <td class="date-table">`+ _startDate + `</td>
                                            <td class="date-table">`+ _endDate + `</td>
                                            <td class="venue-table">`+ results.Data[i].venue + `</td>
                                            <td class="title-table">`+ results.Data[i].title + `</td>
                                            <td class="action-table"><a href="/Home/EventDetail?id=`+ results.Data[i].event_id + `">Detail</a></td>
                                        </tr>`;
                        }
                    }
                }
            }
        });
    };

    function JoinEvent(e) {
        var x = $(e).attr("member-id");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("JoinEvent", "Home")',
            data: JSON.stringify({ 'userId': x }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (rs) {
                if (rs != null) {
                    var s = rs;
                    if (rs.Status == 1) {
                        alert("Join Event Successfully!!!");
                        location.reload();
                    } else {
                        alert("Fail");
                    }
                }
            }
        });
    }
</script>
