@{
    ViewBag.Title = "Event";
    var profile = Session["profile"] as Capstone_SWP490.Models.app_userViewModel.app_userViewModel;
    var lstEvent = ViewData["Events"] as List<Capstone_SWP490.Models.events_ViewModel.eventsMainViewModel>;
    var member = ViewData["Members"] as Capstone_SWP490.member;

    <link rel="stylesheet" href="~/Content/event.css" asp-append-version="true" />
}
<style>
    #menu_Schedule {
        color: #ffffff !important;
        background: #eee;
    }
</style>


<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Event Schedule</label>
        </div>
    </div>
    <div class="main">
        <div class="column">

            <div class="col-lg-10 col-lg-offset-1" id="under">
                <div class="form-group">
                    <label class="front-size-title" for="Event_Schedule">
                        Event Schedule
                    </label>
                </div>
                <div class="form-group">
                    <h5 style="color:red"> @ViewData["error"] </h5>
                    <h5 style="color:green"> @ViewData["success"] </h5>
                </div>
                <div class="form-group">
                    <p style="color:red"><i id="error-select-search"></i></p>
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="type-event">Date Start:</label>
                            <input type="date" class="form-control" id="from-date" onchange="searchSelect()" value="none" placeholder="From">
                        </div>
                        <div class="col-lg-3">
                            <label for="type-event">Date End:</label>
                            <input type="date" class="form-control" id="to-date" onchange="searchSelect()" value="none" placeholder="To">
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-primary" id="btn-search-event" onclick="SearchEvent()"> Search</button>
                        </div>
                        @if (Session["username"] != null)
                        {
                            if (profile.user_role.Equals("ORGANIZER"))
                            {
                                <div class="col-lg-3">
                                    <button type="button" id="btn-add-event" onclick="window.location.href='/Home/EventUpload'" class="btn btn-success">Add Event</button>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12" id="Table_Size_All">
                        <div class="JTable scrollable">
                            <div class="table">
                                <div class="thead">
                                    <div class="tr" style=" background-color: #ddd; color:#333333; font-weight:bold;">
                                        <div class="td">Title</div>
                                        <div class="td">Time</div>
                                        <div class="td">Location</div>
                                        @if (Session["username"] != null)
                                        {
                                            if (profile.user_role.Equals("ORGANIZER"))
                                            {
                                                <div class="td"></div>
                                                <div class="td"></div>
                                                <div class="td"></div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="tbody" id="table-events">
                                    @if (lstEvent.Count > 0)
                                    {
                                        foreach (var x in lstEvent)
                                        {
                                            <div class="tr">
                                                <label for="dso_1" class="td" style="background-color: gold">@x.title</label>
                                                <div class="td" style="background-color: gold ">@x.start_date_str</div>
                                                <div class="td" style="background-color: gold">@x.venue</div>

                                                @if (Session["username"] != null)
                                                {
                                                    if (profile.user_role.Equals("ORGANIZER"))
                                                    {
                                                        <div class="td"><a href="/Home/EventDetail?id=@x.event_id">Detail</a></div>
                                                        <div class="td"><a href="/Home/EventEdit?id=@x.event_id">Edit</a></div>
                                                        <div class="td"><a href="/Home/EventDelete?id=@x.event_id">Delete</a></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="td"><a href="/Home/EventDetail?id=@x.event_id">Detail</a></div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="td"><a href="/Home/EventDetail?id=@x.event_id">Detail</a></div>
                                                }

                                                <input id="dso_1" type="checkbox">
                                                @if (x.subEvent.Count > 0)
                                                {
                                                    foreach (var e in x.subEvent)
                                                    {
                                                        <div class="tr">
                                                            <div for="dso_2" class="td">@e.title</div>
                                                            <div class="td">@e.start_date.ToString("HH:mm") - @e.end_date.ToString("HH:mm")</div>
                                                            <div class="td">@e.venue</div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="tr">
                                                        <div class="td"><i>No Sub-events</i></div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="tr">
                                            <div class="td"><i>No Events</i></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @if (Session["username"] != null)
                {
                    if (member != null)
                    {
                        if (member.event_notify == false)
                        {
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary pull-right" onclick="JoinEvent(this)" member-id="@member.member_id" id="btn-registration_title">
                                    @*<a href="/Home/JoinEvent?userId=@member.member_id" class="button">Join Now</a>*@
                                    Join Now
                                </button>
                            </div>
                        }
                    }
                }

            </div>

        </div>

    </div>

</div>
<input type="hidden" id="userss" value="@Session["username"]">

@if (Session["username"] != null)
{
    <input type="hidden" id="user_role" value="@profile.user_role">
}
else
{
    <input type="hidden" id="user_role" value="0">
}

<script>

    function searchSelect() {
        var _formdate = $("#from-date").val();
        var _todate = $("#to-date").val();
        if (_formdate != '' && _todate != '') {
            if (_formdate > _todate) {
                $("#btn-search-event").attr("disabled", true);
                $("#error-select-search").html("*Start Date must be BEFORE End Date!!!");
            } else {
                $("#btn-search-event").attr("disabled", false);
                $("#error-select-search").html("");
            }
        }

    }


    function SearchEvent() {
        var fromdate = $("#from-date").val();
        var todate = $("#to-date").val();
        var vas = $("#userss").val();
        var role = $("#user_role").val();
        //alert("Searching " + fromdate + " To " + todate)

        let objectIn = {
            start_date: fromdate,
            end_date: todate
        };


        $.ajax({
            type: 'POST',
            url: '@Url.Action("SearchEvent", "Home")',
            data: JSON.stringify(objectIn),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (results) {
                if (results != null) {
                    document.getElementById("table-events").innerHTML = "";
                    if (vas != "" && role == 'ORGANIZER') {
                        let strOut = ``;
                        if (results.Data.length > 0) {
                            for (let i = 0; i < results.Data.length; i++) {
                                let _startDate = new Date(+("" + results.Data[i].start_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                                let _endDate = new Date(+("" + results.Data[i].end_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                                strOut += `<div class="tr">
                                                <label for="dso_1" class="td" style="background-color: gold">`+ results.Data[i].title + `</label>
                                                <div class="td" style="background-color: gold ">`+ _startDate + `</div>
                                                <div class="td" style="background-color: gold">`+ results.Data[i].venue + `</div>
                                                <div class="td"><a href="/Home/EventDetail?id=`+ results.Data[i].event_id + `">Detail</a></div>
                                                <div class="td"><a href="/Home/EventEdit?id=`+ results.Data[i].event_id + `">Edit</a></div>
                                                <div class="td"><a href="/Home/EventDelete?id=`+ results.Data[i].event_id + `">Delete</a></div>
                                            `;
                                if (results.Data[i].subEvent.length > 0) {
                                    for (let ev = 0; ev < results.Data[i].subEvent.length; ev++) {
                                        let _startTime = new Date(+("" + results.Data[i].start_date).slice(6, 19)).toLocaleString('en-GB', { hour: "2-digit", minute: "2-digit" }).split("/").join("-");
                                        let _endTime = new Date(+("" + results.Data[i].end_date).slice(6, 19)).toLocaleString('en-GB', { hour: "2-digit", minute: "2-digit" }).split("/").join("-");
                                        strOut += `<div class="tr">
                                                            <div for="dso_2" class="td">`+ results.Data[i].subEvent[ev].title + `</div>
                                                            <div class="td">`+ _startTime + ` - ` + _endTime + `</div>
                                                            <div class="td">`+ results.Data[i].subEvent[ev].venue + `</div>
                                                        </div>`;
                                    }
                                } else {
                                    strOut += ` <div class="tr">
                                                        <div class="td"><i>No Sub-events</i></div>
                                                    </div>`;
                                }
                                strOut += `</div>`;
                            }
                        } else {
                            strOut += ` <div class="tr">
                                                        <div class="td"><i>No Events</i></div>
                                                    </div>`;
                        }
                        document.getElementById("table-events").innerHTML += strOut;
                    }
                    else {
                        let strOut = ``;
                        if (results.Data.length > 0) {
                            for (let i = 0; i < results.Data.length; i++) {
                                let _startDate = new Date(+("" + results.Data[i].start_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                                let _endDate = new Date(+("" + results.Data[i].end_date).slice(6, 19)).toLocaleString('en-GB', { year: "numeric", day: "2-digit", month: "2-digit" }).split("/").join("-");
                                strOut += `<div class="tr">
                                                <label for="dso_1" class="td" style="background-color: gold">`+ results.Data[i].title + `</label>
                                                <div class="td" style="background-color: gold ">`+ _startDate + `</div>
                                                <div class="td" style="background-color: gold">`+ results.Data[i].venue + `</div>
                                                <div class="td"><a href="/Home/EventDetail?id=`+ results.Data[i].event_id + `">Detail</a></div>
                                            `;
                                if (results.Data[i].subEvent.length > 0) {
                                    for (let ev = 0; ev < results.Data[i].subEvent.length; ev++) {
                                        let _startTime = new Date(+("" + results.Data[i].start_date).slice(6, 19)).toLocaleString('en-GB', { hour: "2-digit", minute: "2-digit" }).split("/").join("-");
                                        let _endTime = new Date(+("" + results.Data[i].end_date).slice(6, 19)).toLocaleString('en-GB', { hour: "2-digit", minute: "2-digit" }).split("/").join("-");
                                        strOut += `<div class="tr">
                                                            <div for="dso_2" class="td">`+ results.Data[i].subEvent[ev].title + `</div>
                                                            <div class="td">`+ _startTime + ` - ` + _endTime + `</div>
                                                            <div class="td">`+ results.Data[i].subEvent[ev].venue + `</div>
                                                        </div>`;
                                    }
                                } else {
                                    strOut += `<div class="tr">
                                                        <div class="td"><i>No Sub-events</i></div>
                                                    </div>`;
                                }
                                strOut += `</div>`;
                            }
                        } else {
                            strOut += `<div class="tr">
                                                        <div class="td"><i>No Events</i></div>
                                                    </div>`;
                        }
                        document.getElementById("table-events").innerHTML += strOut;
                    }
                }
            }
        });
    };

    function JoinEvent(e) {
        var x = $(e).attr("member-id");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("JoinEvent", "Home")',
            data: JSON.stringify({ 'userId': x }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (rs) {
                if (rs != null) {
                    var s = rs;
                    if (rs.Status == 1) {
                        alert("Join Event Successfully!!!");
                        location.reload();
                    } else {
                        alert("Fail");
                    }
                }
            }
        });
    }
</script>
