@model Capstone_SWP490.Models.events_ViewModel.eventsViewModel
@{
    ViewBag.Title = "Event Upload";
}

<style>
    #menu-event {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Event</label>
        </div>
    </div>
    <div class="main">
        <div class="column">
            <div class="col-lg-8 col-lg-offset-2">
                @using (Html.BeginForm("EventEdit", "Home"))
                {
                    <div class="column" style="padding-top:20px">
                        <div class="form-group">
                            <h5 style="color:red"> @ViewData["error"] </h5>
                            <h5 style="color:green"> @ViewData["success"] </h5>
                        </div>
                        <!--<div class="form-group">
                        <label for="type-event">Choose a Type of Event:</label>
                        <div class="row">
                            <div class="col-lg-3">-->
                        @*<select class="form-control col-lg-6" name="select-events" id="events">
                                <option value="">Event</option>
                                <option value="">Activate</option>
                            </select>*@
                        <!--@Html.DropDownListFor(m => m.event_type, new List<SelectListItem>
                                      { new SelectListItem{Text="Please Select"},
                                        new SelectListItem{Text="Event", Value="1"},
                                        new SelectListItem{Text="Activities", Value="2"}})
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="Title">Title<span id="not-empty">*</span></label>
                            @Html.TextBoxFor(m => m.title, new { @class = "form-control", id = "EventTitle", name = "Title", value = "", placeholder = "Title" })
                            @*<div class="valid-feedback">
                                Looks good!
                            </div>*@
                        </div>
                        <div class="form-group">
                            <label for="Desctiption">Desctiption<span id="not-empty">*</span></label>
                            @Html.TextAreaFor(m => m.desctiption, new { @class = "form-control", id = "EventDesctiption", name = "Desctiption", value = "", placeholder = "Description of the event" })
                        </div>
                        @*<div class="form-group">
                                <label for="Location">Start date<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(m => m.start_date, new { type = "date", @class = "form-control", id = "EventStartDate", name = "EventStartDate", @Value = Model.start_date.ToString("yyyy-MM-dd"), placeholder = "Start date" })
                            </div>
                            <div class="form-group">
                                <label for="Location">End date<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(m => m.end_date, new { type = "date", @class = "form-control", id = "EventEndDate", name = "EventEndDate", @Value = Model.end_date.ToString("yyyy-MM-dd"), placeholder = "End date" })
                            </div>*@

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Location">Start date<span id="not-empty">*</span></label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            @Html.TextBoxFor(m => m.start_date, new { type = "date", @class = "form-control", id = "EventStartDate", @onchange = "checkDate()", name = "EventStartDate", @Value = Model.start_date.ToString("yyyy-MM-dd"), placeholder = "Start date" })
                                        </div>
                                        <div class="col-lg-6">
                                            @Html.TextBoxFor(m => m.start_time, new { type = "time", @class = "form-control", id = "EventStartTime", @onchange = "checkTime()", name = "EventStartTime", @Value = Model.start_date.ToString("HH:mm"), placeholder = "Start Time" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Location">End date<span id="not-empty">*</span></label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            @Html.TextBoxFor(m => m.end_date, new { type = "date", @class = "form-control", id = "EventEndDate", @onchange = "checkDate()",name = "EventEndDate", @Value = Model.end_date.ToString("yyyy-MM-dd"), placeholder = "End date" })
                                        </div>
                                        <div class="col-lg-6">
                                            @Html.TextBoxFor(m => m.end_time, new { type = "time", @class = "form-control", id = "EventEndTime", @onchange = "checkTime()", name = "EventEndTime", @Value = Model.end_date.ToString("HH:mm"), placeholder = "End Time" })
                                        </div>
                                    </div>
                                    <span style="color:red"><i id="text-error-date"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Location">Venue<span id="not-empty">*</span></label>
                            @Html.TextBoxFor(m => m.venue, new { @class = "form-control", id = "EventLocation", name = "TiLocationtle", value = "", placeholder = "Location" })
                        </div>
                        @*<div class="form-group">
                                <label for="ContactorPhone">Contactor phone<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(m => m.contactor_phone, new { @class = "form-control", id = "EventContactorPhone", name = "ContactorPhone", value = "", placeholder = "ContactorPhone" })
                            </div>
                            <div class="form-group">
                                <label for="ContactorEmail">Contactor email<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(m => m.contactor_email, new { @class = "form-control", id = "EventContactorEmail", name = "EventContactorEmail", value = "", placeholder = "ContactorEmail" })
                            </div>
                            <div class="form-group">
                                <label for="ContactorName">Contactor Name<span id="not-empty">*</span></label>
                                @Html.TextBoxFor(m => m.contactor_name, new { @class = "form-control", id = "EventContactorName", name = "EventContactorName", value = "", placeholder = "ContactorName" })
                            </div>*@
                        <div class="form-group">
                            <label for="Fanpage">Fanpage<span id="not-empty">*</span></label>
                            @Html.TextBoxFor(m => m.fan_page, new { @class = "form-control", id = "EventFanpage", name = "EventFanpage", value = "", placeholder = "Fanpage" })
                        </div>
                        <div class="form-group">
                            <label for="Fanpage">Note</label>
                            @Html.TextBoxFor(m => m.note, new { @class = "form-control", id = "EventNote", name = "EventNote", value = "", placeholder = "Note" })
                        </div>
                        @Html.TextBoxFor(m => m.event_id, new { @class = "hidden" })

                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary" id="event-upload">Save</button>
                                <button type="button" class="btn btn-secondary" onclick="location.href='/Home/Event'; return false;" id="event-canner">Cancel</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>

</div>

<script>
    function checkDate() {
        var _startDate = $('#EventStartDate').val();
        var _endDate = $('#EventEndDate').val();
        if (_startDate > _endDate) {
            $('#event-upload').attr("disabled", true);
            $('#text-error-date').html("The End Date must NOT occur before the Start Date!!!");
        } else {
            $('#event-upload').attr("disabled", false);
            $('#text-error-date').html("");
        }
        checkTime();
    }

    function checkTime() {
        var _startDate = $('#EventStartDate').val();
        var _endDate = $('#EventEndDate').val();

        var _startTime = $('#EventStartTime').val();
        var _endTime = $('#EventEndTime').val();
        if (_startDate == _endDate) {
            if (_startTime == _endTime || _startTime > _endTime) {
                $('#event-upload').attr("disabled", true);
                $('#text-error-date').html("The End Time must be after the Start Time!!!");
            } else {
                $('#event-upload').attr("disabled", false);
                $('#text-error-date').html("");
            }
        } 
    }
</script>
