@{
    //Layout = "~/Views/Shared/_Layout.cstml";
    ViewBag.Title = "Home Page";
}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css'>
<link rel="stylesheet" href="~/Content/PenStyle.css" asp-append-version="true" />
<link rel='stylesheet' href='https://codepen.io/Michael-luke/pen/PzGywb.css'>
<style>
    #menu-home {
        color: #ffffff !important;
        background: #30cf6b;
    }

    #footer {
        display: block;
    }

    .events-list {
        width: 100%;
        font-size: 0.9em;
    }

        .events-list tr td {
            padding: 5px 20px 5px 0;
        }

            .events-list tr td:last-child {
                padding: 5px 0;
                text-align: right;
            }

        .events-list tr:hover .event-date {
            border-left: 5px solid #4f8db3;
        }

        .events-list .event-date {
            margin: 3px 0;
            padding: 2px 10px;
            border-left: 5px solid #CFCFCF;
            -webkit-transition: all .25s linear;
            -moz-transition: all .25s linear;
            -o-transition: all .25s linear;
            -ms-transition: all .25s linear;
            transition: all .25s linear;
        }

            .events-list .event-date .event-day {
                color: #004A5B;
                font-size: 1.2em;
                font-weight: 600;
                text-align: left;
            }

    .event-month {
        color: #333333;
        font-size: 1em;
        font-weight: 600;
        text-align: left;
    }

    .events-list .event-date .event-venue,
    .events-list .event-date .event-price {
        white-space: nowrap;
    }
</style>
<div id="page-content-wrapper-home">
    <div class="container-fluid xyz">
        <div class="main">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <img src="~/image/code_war_2019_2(2) 2.png" class="img-fluid" alt="Responsive image" style="width:100%">
                            <div class="carousel-caption">
                                <h3 id="text-content-home7">THE 2021 ICPC ASIA HANOI - VIET NAM</h3>
                                <p id="text-content-home8">Regional Contest</p>
                            </div>
                        </div>
                    </div>

                    <div class="container col-lg-12">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-carousel">
                                <div class="mt-4 mb-5">
                                    <h2 class="front-size-title" data-text="A &#45; B">Maybe you do not know</h2>
                                </div>
                                <div class="form-group">
                                    <div class="owl-carousel carousel-main">
                                        <div class="item single-vendor" onclick="location.href='@Url.Action("Event","Home")'">
                                            <div class="vendor-info">
                                                <img src="~/image/event-icon-marketing-company-between-company-and-customers-2C65EKX.jpg">
                                            </div>
                                            <div class="caption">
                                                <p class="">
                                                    <strong>Event is the place where event activities take place. You can sign up for those great events here.</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item single-vendor" onclick="location.href='@Url.Action("Scoreboard","Home")'">
                                            <div class="vendor-info">
                                                <img src="~/image/leaderboard-style-winner-podium-icon-design-vector.jpg">
                                            </div>
                                            <div class="caption">
                                                <p>
                                                    <strong> Scoreboard where you can see your favorite team's achievements.</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item single-vendor" onclick="location.href='@Url.Action("Contest","Home")'">
                                            <div class="vendor-info">
                                                <img src="~/image/2037394.png">
                                            </div>
                                            <div class="caption">
                                                <p>
                                                    <strong>Contest is where you can see contest rules information.</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item single-vendor " onclick="location.href='@Url.Action("Rules","Home")'">
                                            <div class="vendor-info">
                                                <img src="~/image/2534888.png">
                                            </div>
                                            <div class="caption">
                                                <p>
                                                    <strong>The rules that you can read the rules before the exam..</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item single-vendor" onclick="location.href='@Url.Action("Accommodations","Home")'">
                                            <div class="vendor-info">
                                                <img src="~/image/3701836.png">
                                            </div>
                                            <div class="caption">
                                                <p>
                                                    <strong>Accommodations is Resting places arranged by the competition.</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item single-vendor " onclick="location.href='@Url.Action("Downloads","Home")'">
                                            <div class="vendor-info">
                                                <img src="~/image/5728131.png">
                                            </div>
                                            <div class="caption">
                                                <p>
                                                    <strong> Download the system information you want about the contest.</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container col-lg-12">
                        <div class="form-group">
                            <div class="section">
                                <!-- Blog style taken from https://codepen.io/Michael-luke/pen/PzGywb?editors=1000 -->
                                <div class="blog-post blog-single-post">
                                    <div class="single-post-title">
                                        <div class="col-lg-6 front-size-title">Upcoming schedule</div>
                                        <div class="col-lg-6 front-size-title" onclick="location.href='@Url.Action("Event","Home")'"><a style="float:right">Show all schedule...</a></div>
                                    </div>
                                    <div class="single-post-content">
                                        <table class="events-list" id="top-event"></table>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="front-size-title" onclick="location.href='@Url.Action("ListHomePageContent","Home")'"><a style="float:right">Show all content...</a></div>
                                </div>
                                <div class="col-lg-12" id="top-posts">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <p class="text-center" id="text-content-home3">Pacific/Peninsula or Asia; About Asia administrative sub-regions partition, refer to</p>
                            <p class="text-center" id="text-content-home4">  http://blog.sina.com.cn/cjhwang</p>
                            <p class="text-center"><span id="text-content-home5">The ICPC International:</span><span id="text-content-home6"> https://icpc.global</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://code.jquery.com/jquery-1.12.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js'></script>
<script>
    // JavaScript Document
    $('.owl-carousel').owlCarousel({

        //autoplay Controls
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,


        //loop
        loop: true,

        //spacing
        margin: 10,


        //navigation
        nav: true,
        dots: true,
        navText: ['<span class="fas fa-chevron-left fa-2x"></span>', '<span class="fas fa-chevron-right fa-2x"></span>'],
        //responsiveness
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    });
</script>

<script>
    GetListEvents();
    GetListPosts();

    function GetListEvents() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetTopEvents", "Home")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (results) {
                document.getElementById("top-event").innerHTML = "";
                let strRs = `<tr>
                                                <td>
                                                    <div class="event-date">
                                                        <div class="event-month" style="width:50%">Title</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="event-month" style="width:20%">Time</div>
                                                </td>
                                                <td class="event-venue hidden-xs" style="width:30%"><i class="icon-map-marker"></i><div class="event-month">Location</div></td>

                                                <td></td>
                                            </tr>`;

                if (results != null) {
                    for (let i = 0; i < results.length; i++) {
                        strRs +=
                                    `<tr>
                                                <td>
                                                    <div class="event-date">
                                                        <div class="event-month"> `+ results[i].title + `</div>

                                                    </div>
                                                </td>
                                                <td>
                                                      <div class="event-month">`+ results[i].start_date_str + `</div>
                                                </td>
                                                <td class="event-venue hidden-xs"><i class="icon-map-marker"></i><div class="event-month">`+ results[i].venue + `</div></td>

                                                <td><a href="Home/EventDetail?id=`+ results[i].event_id + `">Read More</a></td>
                                      </tr>`;
                    }
                    document.getElementById("top-event").innerHTML = strRs;
                } else {
                    document.getElementById("top-event").innerHTML =
                                    `<tr>
                                                <td>
                                                    <div class="event-date">
                                                        <div class="event-month">Start date</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="event-date">
                                                        <div class="event-month" style="width:50%">Title</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="event-month" style="width:20%">Time</div>
                                                </td>
                                                <td class="event-venue hidden-xs" style="width:20%"><i class="icon-map-marker"></i><div class="event-month">Location</div></td>

                                                <td></td>
                                     </tr>

                                     <tr>
                                                    <div class="event-date">
                                                       <i>No Events</i>
                                                    </div>
                                     </tr>`;

                }
            }
        });
    };

    function GetListPosts() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetTopPosts", "Home")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (results) {
                document.getElementById("top-posts").innerHTML = "";
                let strRs = ``;
                if (results != null) {
                    for (let i = 0; i < results.length; i++) {
                        if (i % 2 == 1) {
                            strRs += `
                            <div class="blog-card alt">
                                <div class="meta">
                                    <div class="photo"> <img style="height:100%; width:100%" src="/image/post/`+ results[i].title_image+`"></div>
                                    <ul class="details">
                                        <li class="date">`+ results[i].update_date + `</li>
                                    </ul>
                                </div>
                                <div class="description">
                                    <lable class="front-size-title">`+ results[i].title + `</lable>
                                    <h2>description:</h2>
                                    <p class="border border-danger">
                                        `+ results[i].short_description + `
                                    </p>
                                    <p class="read-more">
                                        <a onclick="location.href='/Home/HomePageContent?post_Id= `+ results[i].post_id+`'">Read More...</a>
                                    </p>
                                </div>
                            </div>`;
                        }
                        else
                        {
                            strRs +=
                            `<div class="blog-card">
                                <div class="meta">
                                    <div class="photo"> <img style="height:100%; width:100%" src="/image/post/`+ results[i].title_image +`"></div>
                                    <ul class="details">
                                        <li class="date">`+ results[i].update_date +`</li>
                                    </ul>
                                </div>
                                <div class="description">
                                    <lable class="front-size-title">`+ results[i].title +`</lable>
                                    <h2>description:</h2>
                                    <p class="border border-danger">
                                        `+ results[i].short_description +`
                                    </p>
                                    <p class="read-more">
                                        <a onclick="location.href='/Home/HomePageContent?post_Id= `+ results[i].post_id+`'">Read More...</a>
                                    </p>
                                </div>
                            </div>`;
                        }
                    }
                    document.getElementById("top-posts").innerHTML = strRs;
                }
            }
        });
    };
</script>