@{
    ViewBag.Title = "Home Page";
    var lstContent = ViewData["ListRule"] as List<Capstone_SWP490.page_content>;
    var profile = Session["profile"] as Capstone_SWP490.Models.app_userViewModel.app_userViewModel;
}

<style>
    #menu-rules {
        color: #ffffff !important;
        background: #30cf6b;
    }

   
</style>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700;1,800&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<script src="//cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Rules</label>
        </div>
    </div>
    <div class="main">
        <div class="col-lg-12" id="col-local">

            @if (Session["username"] != null)
            {
                if (profile.user_role.Equals("ORGANIZER"))
                {
                    <div class="input">
                        <img id="close" src="~/image/x-circle-fill.svg" />
                        <div class="inputs1">
                            <input class="heading" type="text" placeholder="More information...">
                            <button class="save_btn btn-success" onclick="AjaxCreateContent()">Add</button>
                            <button style="display: none" class="update_btn">Update</button>
                        </div>
                        <div class="inputs2">
                            <textarea id="editor" name="content" placeholder="Puke your Content in here! 🤮"></textarea>
                            @*<button type="button" class="btn btn-primary" id="post-pins">Post Pins</button>*@
                        </div>
                    </div>
                }
            }
            @*<button class="btn btn-primary pull-right" onclick="AjaxSaveListContent()" id="btnSaveContent">Update All</button>*@
            <div class="container">
                <div class="column" id="page-content">
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="userss" value="@Session["username"]">
@if (Session["username"] != null)
{
    <input type="hidden" id="user_role" value="@profile.user_role">
}
else
{
    <input type="hidden" id="user_role" value="0">
}
<!-- /#page-content-wrapper -->
<!-- /#page-content-wrapper -->
<script src="~/Scripts/page-content.js"> </script>
<script>
    GetListContent();
    function GetListContent() {
        var vas = $("#userss").val();
        var role = $("#user_role").val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetContentRule", "Home")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (results) {
                document.getElementById("page-content").innerHTML = "";
                if (results != null) {
                    if (vas!="") {
                        if (role == 'ORGANIZER') {
                             for (let i = 0; i < results.length; i++) {
                                 console.log("" + results[i].content);
                                 document.getElementById("page-content").innerHTML +=
                                     `<div class="col-lg-12" id="content-item">
                                            <div class="Event-Schedule" id="page-title" content-id="`+ results[i].content_id + `" page-id="` + results[i].page_id + `" content-position="` + results[i].position + `">
                                                `+ results[i].title + `
                                            </div>
                                            <div class="Event-Content" id="page-content0">
                                                `+ results[i].content + `
                                            </div>
                                            <div class="col-lg-12" id="delete_edit">
                                               <button class="btn-sm btn-warning" onclick="EditBtn(this)">Edit</button>
                                                <button class="btn-sm btn-primary" onclick="AjaxPinContentById(this)" >Pin</button>
                                                <button class="btn-sm btn-danger" onclick="AjaxDeleteContentById(this)" >Delete</button>
                                            </div>
                                       </div>`;
                             }
                         }
                    }
                    else {
                        for (let i = 0; i < results.length; i++) {
                            console.log("" + results[i].content);
                            document.getElementById("page-content").innerHTML +=
                                `<div class="col-lg-12" id="content-item">
                                            <div class="Event-Schedule" id="page-title" content-id="`+ results[i].content_id + `" page-id="` + results[i].page_id + `" content-position="` + results[i].position + `">
                                                `+ results[i].title + `
                                            </div>
                                            <div class="Event-Content" id="page-content0">
                                                `+ results[i].content + `
                                            </div>
                                            <div class="col-lg-12" id="delete_edit">

                                            </div>
                                       </div>`;
                        }
                    }
                }
            }
        });
    };

    function AjaxCreateContent() {

        var heading = document.querySelector('.heading').value;
        var contents = CKEDITOR.instances.editor.getData();


        let objectContent = {
            title: heading,
            content: contents,
            page_id: "RULE",
            position: 0
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("CreatePageContent", "Home")',
            data: JSON.stringify(objectContent),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (rs) {
                if (rs != null) {
                    var s = rs;
                    if (rs.Status == 1) {
                        alert("success");
                    } else {
                        alert("Fail");
                    }
                }
            }
        });

        document.querySelector('.input').style.height = 4.2 + 'rem';
        document.querySelector('.input').style.position = 'initial';
        document.querySelector('.input').style.zIndex = 1;
        document.querySelector('.container').style.opacity = 100 + '%';
        document.querySelector('.heading').value = '';
        CKEDITOR.instances.editor.setData('');
        document.querySelector('.save_btn').style.display = 'initial';
        document.querySelector('.update_btn').style.display = 'none';
        document.querySelector('.heading').placeholder = 'Take a Note...';
        document.querySelector('.heading').style.borderBottom = '0px solid black';
        document.getElementById('close').style.display = 'none';

        GetListContent();
    }

    function AjaxSaveListContent() {
    var pageContent = document.getElementById('page-content');
    let lstContent = [];
    if (pageContent.childElementCount > 0) {
        for (var i = 0; i < pageContent.childElementCount; i++) {
            var classList = pageContent.children[i];
            var _content_id = classList.children[0].getAttribute("content-id");
            var _page_id = classList.children[0].getAttribute("page-id");
            var _title = classList.children[0].innerHTML;
            var _content = classList.children[1].innerHTML;

            let objectContent = {
                content_id: _content_id,
                title: _title,
                content: _content,
                page_id: _page_id,
                position: i
            };
            lstContent.push(objectContent);
        }
    }
    console.log("id= " + lstContent[0].id + " title= " + lstContent[0].title + "content= " + lstContent[0].content + "position= " + lstContent[0].position);

    $.ajax({
        type: 'POST',
        url: '@Url.Action("UpdateListContent", "Home")',
        data: JSON.stringify(lstContent),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (rs) {
            if (rs.Status == 1) {
                alert("success");
            } else {
                alert("fail");
            }
        }
    });
    GetListContent();
}

function AjaxUpdateContentById(e) {
    var crrItem = e.parentElement.parentElement;
    var _content_id = crrItem.children[0].getAttribute("content-id");
    var _page_id = crrItem.children[0].getAttribute("page-id");
    var _content_position = crrItem.children[0].getAttribute("content-position");
    var _title = crrItem.children[0].innerHTML;
    var _content = crrItem.children[1].innerHTML;

    let objectContent = {
        content_id: _content_id,
        title: _title,
        content: _content,
        page_id: _page_id,
        position: _content_position
    };

    console.log("id= " + objectContent.id + " title= " + objectContent.title + "content= " + objectContent.content);

    $.ajax({
        type: 'POST',
        url: '@Url.Action("UpdateSingleContent", "Home")',
        data: JSON.stringify(objectContent),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (rs) {
            if (rs.Status == 1) {
                alert("success");
            } else {
                alert("fail");
            }
        }
    });
    GetListContent();
}

function AjaxDeleteContentById(e) {

    if (confirm("DELETE this Content ???") == true) {
        var crrItem = e.parentElement.parentElement;
        var _content_id = crrItem.children[0].getAttribute("content-id");
        var _page_id = crrItem.children[0].getAttribute("page-id");
        var _content_position = crrItem.children[0].getAttribute("content-position");
        var _title = crrItem.children[0].innerHTML;
        var _content = crrItem.children[1].innerHTML;

        let objectContent = {
            content_id: _content_id,
            title: _title,
            content: _content,
            page_id: _page_id,
            position: _content_position
        };

        console.log("id= " + objectContent.id + " title= " + objectContent.title + "content= " + objectContent.content);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteSingleContent", "Home")',
            data: JSON.stringify(objectContent),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (rs) {
                var s = rs;
                if (rs.Status == 1) {
                    alert("success");
                } else {
                    alert("fail");
                }
            }
        });
        GetListContent();
    }
}

function AjaxPinContentById(e) {
    //step 1: get all content list and sort
    //step 2: check if id == content-id => add the first
    //step 3: add all content in list

    if (confirm("PIN this Content ???") == true) {
        var crrItem = e.parentElement.parentElement;
        var _content_id = crrItem.children[0].getAttribute("content-id");
        var _content_position = crrItem.children[0].getAttribute("content-position");
        var _page_id = crrItem.children[0].getAttribute("page-id");
        var _title = crrItem.children[0].innerHTML;
        var _content = crrItem.children[1].innerHTML;

        let objectContent = {
            content_id: _content_id,
            title: _title,
            content: _content,
            page_id: _page_id,
            position: _content_position
        };

        console.log("id= " + objectContent.id + " title= " + objectContent.title + "content= " + objectContent.content);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("PinPageContent", "Home")',
            data: JSON.stringify(objectContent),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (rs) {
                var s = rs;
                if (rs.Status == 1) {
                    alert("success");
                } else {
                    alert("fail");
                }
            }
        });
        GetListContent();
    }
}
</script>