@model Capstone_SWP490.page_content
@{
    ViewBag.Title = "ScoreboardEdit";
}

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Scoreboard Edit</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3" id="under">
                @using (Html.BeginForm("ScoreboardEdit", "Home"))
                {
                    <div class="form-group">
                        <p style="color:green">@ViewData["success"]</p>
                        <p style="color:green">@ViewData["error"]</p>
                    </div>
                    <div class="form-group">
                        <label for="Title">Title<span id="not-empty">*</span></label>
                        @Html.TextBoxFor(m => m.title, new { @class = "form-control", id = "TitleScoreboard", name = "TiLocationtle", placeholder = "Title" })
                    </div>
                    <div class="form-group">
                        <label for="Content">Link scoreboard<span id="not-empty">*</span></label>
                        @Html.TextBoxFor(m => m.content, new { @class = "form-control", id = "TitleLinkScoreboard", name = "TitleLinkScoreboard", placeholder = "Link scoreboard" })
                    </div>
                    @Html.TextBoxFor(m => m.position, new { @class = "form-control hidden" })
                    @Html.TextBoxFor(m => m.content_id, new { @class = "form-control hidden" })
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary" id="event-upload">Save</button>
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/Home/ScoreboardManagement'" id="event-canner">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('TitleScoreboard').onkeyup = function () {
        var TitleScoreboard = $("#TitleScoreboard").val();
        if (TitleScoreboard.length >= 1) {
            document.getElementById("TitleScoreboard").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("TitleScoreboard").style.borderColor = "red";
        }
    }
    document.getElementById('TitleLinkScoreboard').onkeyup = function () {
        var TitleLinkScoreboard = $("#TitleLinkScoreboard").val();
        if (TitleLinkScoreboard.length >= 1) {
            document.getElementById("TitleLinkScoreboard").style.borderColor = "#66afe9";
        }
        else {
            document.getElementById("TitleLinkScoreboard").style.borderColor = "red";
        }
    }
</script>

